.CVD19_banner_box {
  box-sizing: border-box;
  background-color: black;
  color: #dddddd;
  padding: 20px 80px;
  text-align: center;
}

.CVD19_banner_box a {
  text-decoration: none;
  color: #dddddd;
}
