#calendarUI {
  position: absolute;
  top: 20%;
  width: 850px;
  height: 370px;
  padding: 16px 32px;
  border-radius: 32px;
  background-color: #fff;
  z-index: 1;
}
/* ------------------------------------------------------- */

.calendar__head-text {
  padding-top: 22px;
  padding-bottom: 10px;
}

.month-text {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

.day-text {
  display: flex;
  justify-content: space-around;
  padding: 1px 4px;
  font-size: 12px;
}

.calendar--button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: none;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
}

.calendar--button:hover {
  background-color: #f1f1f1;
}

.calendar--prevButton {
  position: absolute;
  top: 5%;
  left: 1%;
}

.calendar--nextButton {
  position: absolute;
  top: 5%;
  right: 1%;
}

#calendar {
  display: flex;
  position: relative;
}

#calendar__thisMonth,
#calendar__nextMonth {
  width: 50%;
  padding: 0px 27px;
}

#thisMonth--date,
#nextMonth--date {
  display: flex;
  flex-wrap: wrap;
}

.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 41px;
  height: 41px;
  margin: 1%;
  font-size: 14px;
}

.calendar__day:hover {
  border: 1px solid #000;
  border-radius: 50%;
}

.borderHidden {
  border: none;
}
