.experiences {
  height: 710px;
  padding: 40px 80px;
  background-color: black;
  color: white;
  align-items: center;
}

.experiences__texts {
  padding-bottom: 8px;
}

.experiences__texts :nth-child(1) {
  font-size: 36px;
  font-weight: 600;
}

.experience__type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience__type ul {
  margin-right: 16px;
}

.experience__type ul div:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
}

.experience__type img {
  width: 100%;
  height: 500px;
  border-radius: 8px;
}
