.experiences {
  height: 710px;
  padding: 40px 80px;
  background-color: black;
  color: white;
  align-items: center;
}

.experiences__texts {
  padding-bottom: 8px;
}

.experiences__texts--head-text {
  font-size: 36px;
  font-weight: 600;
}

.experiences__type {
  display: flex;
  justify-content: space-between;
}

.experiences__type__item {
  margin-right: 16px;
}

.experiences__type__item--boldText {
  font-size: 18px;
  font-weight: 600;
}

.experiences__type__item--img {
  width: 100%;
  height: 500px;
  border-radius: 8px;
}
