.host {
  height: 511px;
  padding: 40px 80px;
}

.host__text {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

.hosting__type {
  display: flex;
  flex-direction: row;
}

.hosting__type ul {
  margin-right: 16px;
  font-size: 18px;
}

.hosting__type img {
  width: 100%;
  height: 305px;
  border-radius: 8px;
}
