.locations {
  padding: 62px 80px;
  height: 288px;
  font-size: 16px;
}

.locations__upRow,
.locations__downRow {
  margin-bottom: 16px;
}

.locations__upRow--item,
.locations__downRow--item {
  align-items: center;
  width: 100%;
}

.city--name {
  font-weight: bold;
}

.city--image {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  margin-right: 16px;
}
