* {
  box-sizing: border-box;
}

* :focus {
  outline: none;
}

body {
  margin: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
}

img,
a,
ul,
button {
  cursor: pointer;
}

button {
  border: none;
}

input {
  all: unset;
  cursor: text;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: currentColor;
}

.container {
  border-bottom: 1px solid gainsboro;
}

.settings {
  display: flex;
  align-items: center;
}
