/* SECTION: Space */

.section__container__space {
  max-width: 1600px;
  margin: 40px 0;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.phrase {
  padding-bottom: 16px;
}

.phrase > span {
  font-size: 2em;
  font-weight: 800;
}

.space--list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.space {
  margin-top: 10px;
  box-sizing: border-box;
}
.space > div {
  padding-top: 8px;
}
.space > div > img {
  width: 100%;
  border-radius: 10px;
}

.space > div > span {
  color: #222;
  font-size: 18px;
  font-weight: 500;
}
