@import './calendar.scss';

.section-main {
  padding: 0;
  margin-bottom: 60px;
  height: 90vh;
  position: relative;
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .bg-content {
    padding: 20% 5%;
    &__text {
      color: #fff;
      font-size: 52px;
      font-weight: 600;
      margin-bottom: 25px;
      line-height: 1.2em;
    }
    &__anchor {
      background: #fff;
      color: #333;
      padding: 5px 10px;
      border-radius: 5px;
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.section-01 {
  margin-bottom: 80px;
}

.section-02 {
  margin-bottom: 60px;
}

.section-03 {
  background-color: #000;
  padding: 60px 80px;
  * {
    color: #fff;
  }
  a {
    text-decoration: none;
  }
  .section__title {
    &-main {
      font-size: 32px;
    }
    &-anchor {
      position: absolute;
      right: 0;
      top: 0;
      border: 1px solid #fff;
      padding: 7px 14px;
      border-radius: 6px;
      font-size: 14px;
      &:hover {
        background: rgb(113, 113, 113);
      }
    }
  }
}

.section-04 {
  padding: 60px 80px;
}

.section__title {
  position: relative;
  padding-bottom: 16px;
  &-main {
    font-size: 32px;
  }
  &-sub {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
  }
}

.box-custom {
  padding: 10px 0;
  &__image {
    border-radius: 16px;
    max-width: 100%;
    margin-bottom: -55px;
  }
  &__text {
    bottom: 20px;
    left: 15px;
    height: 55px;
    display: block;
    &-main {
      display: block;
      padding: 0 1em;
      font-weight: 600;
      font-size: 16px;
    }
    &-sub {
      display: block;
    }
  }
}