#corona {
    height: 60px;
    background-color: #111;
    position: relative;
}
#corona > div {
    width: 343px;
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.84em;
    font-weight: 300;
    color: #fff;
}
