* {
    box-sizing: border-box;
}
a {
    display: block;
    text-decoration: none;
}
/* ---------● 코로나 배너 ●--------- */
#corona {
    height: 60px;
    background-color: #000;
    position: relative;
}
#corona > div {
    width: 343px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.84em;
    font-weight: 300;
    color: #ddd;
    cursor: pointer;
}
/* ---------● 헤더 ●--------- */
#container__header {
    position: relative;
}
#header {
    position: absolute;
    padding: 0 80px;
    z-index: 10;
    width: 100%;
    height: 80px;
}
#header__logo {
    margin-top: 24px;
    float: left;
}
#header__logo > img {
    width: 100px;
}

/* ----- 중앙 네비게이션 ----- */
#header__middle_nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header__middle_nav > li,
#header__right_nav > li {
    float: left;
    margin-right: 10px;
}
#header__middle_nav a,
#header__right_nav a {
    padding: 0 12px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 0.9em;
    font-weight: 400;
}

#header__right_nav {
    float: right;
    margin-top: 15px;
}
#header__globe {
    font-size: 1.2em;
}
#header__user {
    margin-right: 0;
    margin-top: 2px;
}
#header__user > a {
    width: 80px;
    height: 43px;
    background-color: #fff;
    border-radius: 24px;
    position: relative;
}
.bars_icon {
    color: #444;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
}
.user_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    color: #777;
    font-size: 2em;
}
/* ---------● 검색창 ●--------- */
#search {
    width: 853px;
    background-color: #fff;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border-radius: 45px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15),
        0px 3px 8px rgba(0, 0, 0, 0.1);
}
#search > li {
    float: left;
    height: 66px;
    padding: 15px 25px;
    background-color: #fff;
    border-radius: 45px;
}
#search > li:hover {
    background-color: #eee;
}
#search > li > span:first-child {
    font-size: 0.78em;
    font-weight: 600;
    color: #222;
}
#search > li > div {
    margin-top: 6px;
    font-size: 0.87em;
    font-weight: 300;
    color: #555;
}
/* ----- 위치 ----- */
#search__place {
    width: 270px;
    padding-left: 35px;
}
#search__place > input {
    width: 150px;
    border: 0;
    padding: 0;
    margin-top: 5px;
    outline: none;
    background-color: transparent;
}
/* ----- 체크인 체크아웃 ----- */
#search__checkin,
#search__checkout {
    width: 180px;
    cursor: pointer;
}
/* ----- 인원, 게스트 추가 ----- */
#search__guest {
    width: 223px;
    position: relative;
    cursor: pointer;
}
#search__guest > button {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background-color: #ed495a;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

/* ---------● 배너 ●--------- */
#banner {
    height: 652px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://a0.muscache.com/im/pictures/cf39f4c4-e860-43d4-85be-deddd7b2da90.jpg?im_w=1440);
    position: relative;
}
#banner__title {
    width: 400px;
    height: 190px;
    position: absolute;
    top: 46%;
    left: 80px;
}
#banner__title > div {
    width: 18rem;
    color: #fff;
    font-size: 3.1em;
    font-weight: 600;
    line-height: 1.2;
}
#banner__title > a {
    width: 148px;
    height: 34px;
    margin-top: 10px;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;

    font-size: 0.88em;
    line-height: 34px;
    text-align: center;
    color: #333;
}

/* ---------● 지역 안내 ●--------- */
#local {
    height: 270px;
    position: relative;
}
#local > ul {
    width: 1276px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.local__list {
    float: left;
    margin-bottom: 17px;
    margin-right: 17px;
    width: 306.25px;
    height: 65px;
}
.local__right {
    margin-right: 0;
}
.local__list > img {
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 10px;
}
.local__list > a {
    width: 230px; /* 링크 클릭 범위 설정 */
    padding: 12px 20px 12px 80px;
    line-height: 1.35;
    color: #333;
}
.local__list > a > span:first-child {
    font-weight: 500;
}
.local__list > a > span:last-child {
    font-size: 0.9em;
}

/* -----●●● container__content ●●●----- */
/* ------------ 공통 부분 ------------ */
.container__content {
    margin: 40px 0;
    height: 400px;
    position: relative;
}
.content {
    width: 1275px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.content > h1 {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 16px;
}
.content > ul {
    display: flex;
    justify-content: space-between;
}
.content__list > a {
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}
.content__list > a > img {
    width: 305px;
    border-radius: 10px;
}
.content__list > a > div {
    padding: 8px 0 0;
}

/* ---------● activity ●--------- */
#container__activity {
    background-color: black;
    padding-top: 40px;
    height: 630px;
}
#activity {
    color: #fff;
}
#activity > h1 {
    padding-bottom: 5px;
}
#activity > span {
    font-size: 0.9em;
    font-weight: 300;
}
#activity > ul {
    margin-top: 10px;
}
.activity__list > a > img {
    width: 412px;
    height: 412px;
}
.activity__list > a > div {
    color: #fff;
    line-height: 1.3;
}
.activity__list > a > div > span:first-child {
    font-size: 1em;
    font-weight: 600;
}
.activity__list > a > div > span:last-child {
    font-size: 0.8em;
    font-weight: 300;
}

/* ---------● host ●--------- */
#host img {
    width: 412px;
    height: 276px;
}
