/** global */
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif; /*->적용안됨...*/
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}

.clearfix {
  content: "";
  clear: both;
  display: block;
}

.inner {
  border: 1px solid rgba(255, 255, 255, 0); /*->지우면 오류남....*/
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
} /*maragin 0 auto쓰려면 너비설정되어야함*/

.ment {
  font-size: 30px;
  font-weight: 800;
  /* font-family: "Noto Sans KR", sans-serif; */
}

section span {
  font-size: 18px;
  font-weight: 800;
}

/** HEADER =====================**/
header .corona {
  background-color: black;
  text-align: center;
  padding: 20px;
}

header .corona a {
  color: rgba(255, 255, 255, 0.925);
  font-size: 14px;
  font-weight: bold;
}
header .corona a:hover {
  color: rgba(184, 164, 164, 0.233);
}

header .background {
  background-image: url("./img/backImg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

header .menuGroup {
  color: rgba(255, 255, 255, 0.925);
  height: auto;
  margin-top: 25px;
  position: relative;
}

header .logoIMG {
  width: 100px;
  height: 35px;
}

header .menu_center {
  margin-top: 10px;
  position: absolute;
  right: 700px;
  top: 0;
}

header .menu_center a {
  padding: 10px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.925);
  text-decoration: none;
}

header .menu_center a:hover {
  color: rgba(255, 255, 255, 0.604);
}

header .menu_right {
  position: absolute;
  top: 0px;
  right: 0;
}

header .menu_right :hover {
  cursor: pointer;
}

header .menu_right div {
  display: inline;
  width: auto;
  height: auto;
  margin-left: 10px;
}

.menu_right .host:hover,
.menu_right .language:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

header .host {
  padding: 15px;
}

header .language {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  padding: 15px;
  vertical-align: middle;
}

header .hide {
  display: none;
}

header .menu_right .toggle {
  vertical-align: middle;
}

header .toggleBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.925);
}

header .toggle .list {
  width: 16px;
  height: 16px;
  vertical-align: super;
}

header .personIMG {
  width: 30px;
  height: 30px;
  padding-top: 5px;
}

header .toggle ul {
  background-color: rgba(255, 255, 255, 0.925);
  width: 240px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

header .toggle li {
  padding: 15px;
}

header .toggle a {
  color: rgb(48, 48, 48);
  text-decoration: none;
}

header .search {
  position: absolute;
  top: 80px;
  right: 400px;
  width: 850px;
  height: 70px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50px;
}

header .search .innerdiv {
  float: left;
  box-sizing: border-box;
  margin: 19px 0px;
  padding: 0px 20px;
  width: 180px;
  height: 100;
  border-left: 1px solid rgba(73, 67, 67, 0.404);
  font-size: 12px;
  font-weight: 800;
  /* border: 1px solid red; */
}

header .search .innerdiv:first-child {
  width: 240px;
}

header .search .innerdiv:hover {
  padding: 19px 20px;
  margin: 0;
  background-color: rgba(230, 230, 230, 0.863);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.search input {
  background: transparent;
  width: 150px;
  margin-top: 5px;
  display: block;
  border: none;
  padding: 0;
}

header .search button {
  background-color: rgba(255, 56, 92, 1);
  color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: relative;
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}

header .search button img {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 17px;
  left: 17px;
}

header .title {
  color: rgba(255, 255, 255, 0.925);
  margin-top: 300px;
}

header .ment {
  width: 320px;
  font-size: 55px;
  line-height: 1.3;
}

header .title button {
  margin: 20px auto 250px 0;
  padding: 5px 15px;
  background-color: #fff;
  font-weight: 800;
  border: none;
  border-radius: 10px;
}

/** SECTION_location =====================**/
.location_section .location_list {
  padding-top: 65px;
  padding-bottom: 45px;
}

.location_section .location_list li {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 17px;
  margin-bottom: 17px;
  width: 382px;
  position: relative;
}

.location_section .location_list li:nth-child(4),
.location_section .location_list li:nth-child(8) {
  margin-right: 0;
}

.location_section .location_list img {
  width: 65px;
  height: 65px;
  border-radius: 10px;
}

.location_section .span_wrapper {
  position: absolute;
  top: 17px;
  left: 80px;
  display: inline-block;
}

.location_section .span_wrapper span {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.location_section .span_wrapper span:first-child {
  font-weight: 800;
}

/** SECTION_house =====================**/

.house_style_section .ment {
  padding-top: 35px;
  padding-bottom: 35px;
}

.house_style_section .house_img div {
  display: inline-block;
}

.house_style_section .house_img img {
  box-sizing: border-box;
  width: 382px;
  height: 382px;
  margin-right: 17px;
  border-radius: 15px;
}

.house_style_section .house_img :last-child img {
  margin-right: 0px;
}

.house_img span {
  display: block;
  margin-top: 10px;
  margin-bottom: 60px;
}

/** SECTION_activity =====================**/
.activity_section {
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 1);
  padding-top: 35px;
  padding-bottom: 35px;
}

.activity_section p {
  font-size: 14px;
  font-weight: 200;
  margin-top: 10px;
}

.activity_section .activity_img div {
  display: inline-block;
}

.same_part div img {
  width: 517px;
  height: 517px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 17px;
  display: block;
}

.activity_img div:last-child img {
  margin-right: 0;
}

/** SECTION_HOSTING =====================**/
.hosting_section {
  padding-top: 35px;
  padding-bottom: 70px;
}

.hosting_section .hostImg div {
  display: inline-block;
}

.same_part .hostImg img {
  height: auto;
}

.hostImg div:last-child img {
  margin-right: 0;
}

/** footer =====================**/
footer {
  background-color: rgb(247, 247, 247);
}

.footer1 {
  vertical-align: super;
  font-size: 14px;
  padding-top: 35px;
}

.footer1 .menu {
  display: inline;
  float: left;
}

.footer1 .menu div {
  font-weight: 800;
  font-size: 12px;
}

.footer1 .menu li {
  padding: 17px;
}
.footer1 .menu li a {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0);
}

.footer1 div a:hover {
  text-decoration: underline;
}

.footer2 {
  height: 70px;
  width: 100%;
  border-top: 1px solid rgb(221, 221, 221);
}
