* {
  border: 1px solid red;
}

.search_bar {
  display: block;
  width: 500px;
  height: 100px;
  background-color: pink;
  margin: 0 auto;
}

.calender_box {
  display: flex;
  background-color: rgba(255, 255, 255);
  border-radius: 30px;
  padding: 20px;
}

.calender_date {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
