/* js파일에 모든 classList 가 있습니다. */

/* 우측 login_box css */
.List_box {
    background-color: white;
    color: black;
    position: absolute;
    width:110%;
    left:-10%;
    margin-top: 10px;
    border-radius: 10px;
}

.tempclass {
    display: none;
}

.box_class {
    color:black !important;
    padding-left: 20px;
}

.box_div {
    padding: 10px 0;
    font-size: 13px;
}

.secondbox_div {
    border-bottom: 2px solid #ebebeb;
}

/* center 숙소 체험 box css*/
.centerdisplay_off {
    display: none !important;
}

.Infofont2 {
    font-weight: bold;
}
.Infofontunder2 {
    font-size: 15px;
    color:gray;
}

.boxwidth {
    display:block;
    width:50% !important;
}

.boxpadding {
    padding-right: 180px;
}

/* calendar css*/
#calendar_out {
    position: relative;
}

.calendar_css {
    background-color:white;
    position: absolute;
    width: 50%;
    top: 240px;
    border-radius: 30px;
}

.calendar_display {
    display:none;
}

.cal_flex {
    display:flex;
}

.calendar {
    padding:20px 60px;
    width:50%;
}

.calendar > tbody > tr > td {
    text-align: center;
}

.calendar2 {
    padding:20px 60px;
    width:50%;
}

.calendar2 > tbody > tr > td {
    text-align: center;
}