body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

input {
    outline: none;
}

a:link { color:white; text-decoration: none; }
a:visited { color:white; }

#aside a:visited {
    color: white;
}

#aside {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px 80px;
    margin: 0;
}

#main {
    background-image: url('./images/main-wide.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 83vh;
}

body {
    box-sizing: border-box;
}

.mainlogo {
    display:flex;
    justify-content: space-between;
    padding: 30px 80px 0 80px;
}

.maincenter {
    display:flex;
    justify-content: space-between;
    width: 300px;
    font-size: 20px;
}

.maincenter > div {
    height: 29px;
}

.maincenter > div:after {
    content: "";
    display: block;
    width:0px;
    margin:auto;
    transition: width 0.2s ease-in-out;
}

.maincenter > div:hover:after {
    content: "";
    display: block;
    width:10px;
    border-bottom: 2px solid white;
    margin:auto;
}

.maincenter > div > a:hover {
    color: #cbd5da;
}

.maincenter > div > a:focus {
    border-bottom: 2px solid white;
}

.right_box {
    position:relative;
}

.ghost-button {
    background-color: transparent;
    border:none;
    outline:none;
    padding-right: 20px;
}

/* 클릭시 바운스효과 */
.ghost-button:active {
    transform: translateY(2px);
}

.loginbox {
    border-radius: 20px;
    border:none;
    outline:none;
    height:50px;
    width: 100px;
}

.loginbox:active {
    transform: translateY(2px);
}

/* ====================================================  main float ======================================== */
.mainabsolute {
    position: absolute;
    left : 80px;
    top : 350px;
}

.mainfloat {
    color:white;
    font-weight: bold;
    font-size:50px;
}

.mainfloatbtn {
    background-color: white;
    border-radius: 7px;
    border:none;
    padding: 6px 10px;
    margin-top: 10px;
    font-weight:bold; 
    outline:none;
    transition: all 0.5s ease-in-out;
}

.mainfloatbtn:hover {
    background-color: #e51d59;
}
.mainfloatbtn:hover:active {
    transform: translateY(5px);
}

/* ====================================================  center Information ======================================== */
.centerInfo {
    display: flex;
    justify-content:space-between;
    background-color: white;
    width:50%;
    height: 70px;
    margin:auto;
    border-radius: 50px;
}

.Infofont {
    font-weight: bold;
}
.Infofontunder {
    font-size: 15px;
    color:gray;
}

.Infobox {
    justify-content:space-between;
    padding-left: 40px;
}

.BOX {
    display: flex;
    align-items: center;
    position: relative;
    width: 25%;
    margin: 0 auto;
    border-radius: 50px; 
    /* transition: background 0.1s ease-in-out; */
}

/* 첫번째 박스만 빼고 다 적용시킨다. */
.BOX:not(:first-child):before {
    content: '|';
    color:#ebebeb;
    position: absolute;
    left: 0;
}

.BOX:hover {
    background-color: #ebebeb;
}

/* 어려운 부분 */
/* .BOX:hover:before, 는 현재 내가 선택한 div를 hover했을 때
   .BOX:hover + .BOX:before 는 hover 했을때 다음 div의 before 속성 */
/* + 는 "그 다음" 을 나타낸다. 따라서  .BOX:hover:before, .BOX:hover + .BOX:before 구문은
   내가 hover한 박스의 hover속성을 적용하고 hover일 경우 다음 박스의before에도 hover을 적용한다.*/
.BOX:hover:before, .BOX:hover + .BOX:before {
    color:transparent;
}

#centerBTN {
    align-self: center;
    padding-right: 10px;
}

.centerbtn {
    border-radius: 50%;
    background-color: #e51d59;
    border:none;
    width:60px;
    height:60px;
    border-radius: 50%;
    outline:none;
    transition: background-color 0.5s ease-in-out;
}

.centerbtn:hover {
    background-color:blue;
}

.centerbtn:active {
    transform: translateY(2px);
}

.centerbtnSVG {
    margin:auto;
}