@charset "UTF-8";

/* COMMON */

.body__container {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
}

.section {
  padding: 0 80px;
  box-sizing: border-box;
  position: relative;
}

.section__container {
  height: 272px;
}

.float--left {
  float: left;
}
.float--right {
  float: right;
}
/* FLOAT CLEARFIX */
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

/* ASIDE: Covid info */

.aside {
  height: 62px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside a {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}

/* Background Image */

.background--image {
  width: 100%;
  background-image: url('https://a0.muscache.com/im/pictures/3c23cdc9-b2bc-45e2-8bbd-930bf3076449.jpg?im_w=720');
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.background--image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* HEADER */
.header {
  width: 100%;
  height: 80px;
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container--leftbox {
  width: 100%;
}

.header__container--leftbox .logo-box {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
}

.header__container--centerbox {
  min-width: 300px;
  height: 48px;
  padding: 0 24px;
}

.header__container--centerbox > ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container--centerbox > ul .button {
  cursor: pointer;
}
.header__container--centerbox > ul .button--default {
  cursor: default;
}

.header__container--centerbox > ul > li .menu {
  color: #fff;
  height: 20px;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container--centerbox > ul > li .menu__hover {
  color: rgba(255, 255, 255, 0.8);
  height: 20px;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container--centerbox > ul > li .low-bar {
  height: 2px;
  display: block;
  margin: 0 auto;
}

.header__container--centerbox > ul > li .low-bar-transparent {
  background: transparent;
  width: 0px;
  transition: 0.2s;
}

.header__container--centerbox > ul > li .low-bar-long {
  background: #fff;
  width: 18px;
  transition: 0.2s;
}
.header__container--centerbox > ul > li .low-bar-short {
  background: #fff;
  width: 4px;
  transition: 0.2s;
}

.header__container--rightbox {
  width: 100%;
  height: 100%;
}

.header__container--rightbox .right__button--box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

#user__button {
  margin-left: 10px;
  width: 77px;
  height: 42px;
  border-radius: 25px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
}

#user__button .user__button--box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.host {
  min-width: 100px;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  padding: 15px 15px;
  box-sizing: border-box;
  height: 50%;
  cursor: pointer;
}

.host:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.globe {
  padding: 14px 15px;
  height: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.globe:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

/* NAV: RESERVATION */

.reservation__container {
  min-width: 850px;
  height: 66px;
  display: flex;
  justify-content: center;
}

.reservation__box--airbnb {
  height: 100%;
  box-sizing: border-box;
  display: none;
}

.reservation__box--activity {
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.reservation__label--box {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.reservation__menu__box {
  width: 130px;
}

.reservation__menu__box div {
  width: 100%;
}

.reservation__menu__box input {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

.leftside__radius__box {
  min-width: 270px;
  background: #fff;
  padding: 14px 32px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.leftside__radius__box:hover {
  background: #ebebeb;
  border-radius: 50px;
}
.leftside__radius__box:hover + div {
  border-right: 1px solid #fff;
}

.leftside__radius__box--activity:hover {
  background: #ebebeb;
  border-radius: 50px;
}
.leftside__radius__box--activity:hover + div {
  border-right: 1px solid #fff;
}

input {
  all: unset;
}

.middle__box {
  background: #fff;
  padding: 14px 24px;
  box-sizing: border-box;
  cursor: pointer;
  /* display: none; */
}

/* 양쪽 다 middle bar를 없애는 방법이 없을까... */
.middle__box:hover {
  background: #ebebeb;
  border-radius: 50px;
}

.middle__box:hover + div {
  border-right: 1px solid #fff;
}

.middle__bar {
  border-right: 1px solid #ddd;
  height: 32px;
}

.rightside__radius__box {
  background: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 14px 24px;
  padding-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 100%;
  align-items: center;
}
.rightside__radius__box:hover {
  background: #ebebeb;
  border-radius: 50px;
}

.rightside__radius__box:hover + div {
  border-right: 1px solid #fff;
}

.rightside__radius__box--activity {
  display: flex;
  justify-content: space-between;
}

.rightside__radius__box--activity:hover {
  background: #ebebeb;
  border-radius: 50px;
}

.search__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff385c;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.search__circle > svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation__container label {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.leftside__radius__box--activity {
  min-width: 410px;
  background: #fff;
  padding: 14px 32px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
  /* display: none; */
}

.rightside__radius__box--activity {
  min-width: 440px;
  background: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 14px 24px;
  padding-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 100%;
  align-items: center;
  /* display: none; */
}

/* SECTION: visual */

.section--visual {
  padding: 0;
}

.visual__container {
  padding: 146px 80px 40px;
  height: 364px;
}

.catchphrase--box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.catchphrase {
  font-size: 52px;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
}

.lookaround {
  height: 60px;
  border: 1px solid transparent;
}

.lookaround__background {
  border-radius: 10px;
  width: 140px;
  height: 20px;
  margin-top: 22px;
  padding: 7px 15px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lookaround__text {
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
}

/* SECTION: City */
.section__background {
  border: 1px solid #fff;
  width: 200px;
  background: #fff;
  padding: 15px;
}

.section__container__city {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__container__city--list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.city {
  display: flex;
  align-items: center;
  position: relative;
}

.city > div {
  display: inline-block;
}

.city__box > * {
  display: block;
  margin-left: 15px;
  padding: 4px;
  color: #222;
}

.city__box > b {
  font-weight: 600;
}

.city__box > span {
  min-width: 165px;
}

.city__img {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

/* SECTION: Space */

.section__container__space {
  max-width: 1600px;
  margin: 40px 0;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.phrase {
  padding-bottom: 16px;
}

.phrase > span {
  font-size: 2em;
  font-weight: 800;
}

.space--list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.space {
  margin-top: 10px;
  box-sizing: border-box;
}
.space > div {
  padding-top: 8px;
}
.space > div > img {
  width: 100%;
  border-radius: 10px;
}

.space > div > span {
  color: #222;
  font-size: 18px;
  font-weight: 500;
}

/* SECTION: Online */

.section__online {
  background: #000;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 80px;
  box-sizing: border-box;
  position: relative;
}

.online__container {
  height: fit-content;
}

.online__upper--box {
}

.online__upper {
  height: 80px;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
}

.online__upper > div > span:nth-child(1) {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
}

.online__upper > div > span:nth-child(3) {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
}

.lookaround__button {
  background: transparent;
  padding: 7px 15px;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.online__body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.online--grid {
  max-width: 1600px;
  height: fit-content;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
}

.online--grid li:first-child {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.online--grid li:last-child {
  grid-column: 3 / 5;
}

.online__activity__box {
  position: relative;
}

.activity--image {
  height: 100%;
}

.activity--image img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

/* 일단 보이기에 좋게 넣어놓았다.. 나중에 보자 ㅠㅠ! */
.activity--description {
  color: #fff;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
  display: inline-block;
  top: -60px;
  left: 10px;
}

/* SECTION: Membership */
.section__membership {
  height: fit-content;
  margin: 70px 0;
}

.section__membership__container {
  height: fit-content;
}

.section__membership__upper {
  height: 52px;
  font-size: 32px;
  font-weight: 600;
}

.hostbox > div > img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.section__membership__body > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.hostbox > div > span {
  color: #222;
  font-weight: bold;
  font-size: 18px;
  padding-top: 8px;
  display: block;
}

footer {
  background: #f7f7f7;
  height: 400px;
  border-top: 1px solid #eee;
}
