* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    /* font-size: 14px; */
}
.main {
 position: flex;
 width: 100%;
 height: 800px;
 background-image: url( "images/top_banner.webp");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
 justify-content: center;
}

.corona_Top {
    display: block;
    text-decoration: underline;
    text-align: center;
    color:white;
    font-size: 14px;
    padding: 20px 40px;
    background: black;
}



.header {
    display: flex;
    height:80px;
    padding-left:80px;
    padding-right:80px;
    align-items: center;
    justify-content: center;
}

.header_left_menu {
    width: 577px;
    height: 80px;
}


.airbnb_icon {
    padding-top: 10px;
    width: 108px;
    height: 54px;
}

.header_center_menu {
    padding: 0px 40px;
}
.main > .header_center_menu {
    display:flex;
    justify-content: center;

}

.header_center_menu > .menus {
    padding: 10px 16px;
    color:white;
    display: inline-block;
}

.header_right_menu {
    float:inline-end;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    width: 577px;
    height: 80px;

}

.sign_up_host {
    width:100px;
}

.header_right_menu > button {
    display: inline-block;
    background-color:transparent;
    border-color:transparent;
}

.header_right_menu > .earth_btn {
    padding-right: 16px;
}


.earth_btn {
    display: flex;
    width:52px;
    height:42px;
}

.earth_btn > img {
    width:16px;
    height:16px;
}

.header_right_menu >.user_btn {
    display:flex;
    width:72px;
    height: 42px;
    background-color: white;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.header_right_menu >.user_btn > img {
    display: inline-block;
    width: 16px;
    height: 30px;
    padding-left:7px;
}


.main > .search {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-color: transparent;
}




.main > .main_square {
    width: 1502px;
    height: 610.44px;

    margin:auto;
    /* border:red 1px solid; */

}

.main_square > header {
    margin-top: 200px;
    color: white;
    font-size: 52px;
    font-weight: bold;
    padding-bottom:30px;
}

.main_square > span {
    font-size: 14px;
    font-weight:600;
    padding:5px 18px;
    background-color: white;
    border-radius: 7px;
}







