body{
    margin: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
}

img , a {
    cursor:pointer;
}
/* ---------------------------------------------------------------- */
.CVD19_banner_box{
    box-sizing: border-box;
    background-color: black;
    color: #DDDDDD;
    padding: 20px 80px;
    text-align: center;
    position: relative;
    /* position: fixed;
    z-index: 1;
    width: 100%; */
}

.CVD19_banner_box a{text-decoration: none; color: #DDDDDD;}
/* ---------------------------------------------------------------- */
.include_mainImage_box{
    box-sizing: border-box;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url('https://a0.muscache.com/im/pictures/cf39f4c4-e860-43d4-85be-deddd7b2da90.jpg?im_w=1920');
}

.header_box {
    height: 80px;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    padding: 0px 80px;
}

.header_box_logo a{text-decoration: none; color: #FFFFFF;}

.header_box_logo{
    border: 1px solid white;
    width: calc(100%/3);
    text-align: left;
}

.header_box_menu {
    border: 1px solid white;
    width: calc(100%/3);
    text-align: center;
}

.header_box_menu li{
    display: inline;
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
}


.header_box_my_info{
    border: 1px solid white;
    width: calc(100%/3);
    text-align: right;
}

.header_box_my_info li{
    display: inline;
    cursor: pointer;
}

.search_box {
    box-sizing: border-box;
    display: flex;
}

.search_box ul:nth-child(n){
    list-style-type: none;
}

.phrase_box {
    color: #FFFFFF;
    box-sizing: border-box;
}
/* ---------------------------------------------------------------- */
.select_locations_box {
    background-color: #e7e6e1;
}

.select_locations_box > .locations img{
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

.select_where_live_box {
    background-color: #f7f6e7;
}

.select_where_live_box > .House_type img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.select_experience_box {
    background-color: black;
    color: white;
}

.select_experience_box > .experience_type img{
    width: 320px;
    height: 320px;
    border-radius: 8px;
}

.host_box {
    background-color: #f2a154;
}

.host_box > .hosting_type img{
    width: 320px;
    height: 213px;
    border-radius: 8px;
}

.footer{
    background-color: #314e52;
}

footer > .footer_upper {
    display: flex;
    border-bottom: 5px solid grey;
    margin-bottom: 25px;
}

footer > .footer_upper div{
    list-style-type: none;
    
}

footer > .footer_upper div li:nth-child(1){
    font-weight: bold;
    font-size: large;
} 