* {
  /* border: 1px solid black; */
  box-sizing: border-box;
  font-size: 15px;
  color: white;
}

html,
body {
  color: white;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body,
header {
  min-width: 1050px;
}

header {
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 1;
}

.bold-text {
  font-weight: bold;
}

.float-clear {
  clear: both;
}

.solid-rounded {
  border-radius: 1000000px;
}

.solid-semi-rounded {
  padding: 7px 17px;
  border: 0;
  border-radius: 8px;
}

header > nav {
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

#home-icon-container {
  float: left;
  width: 35%;
  height: 100%;
}

#home-icon-container > svg {
  transform: scale(1.1, 1.15) translateX(5%);
  position: relative;
  top: 37px;
  fill: currentColor;
}

#center-menu-container {
  width: 90%;
  height: 200%;
  position: absolute;
  top: 0;
}

#center-menu {
  text-align: center;
  min-width: 300px;
  width: 30%;
  height: 50%;
  margin: 0 auto;
  position: relative;
  top: -5px;
  padding: 0 20px;
}

#center-menu > span {
  margin: 0 13px;
  position: relative;
  top: 34px;
}

#search-bar {
  width: 850px;
  height: 42%;
  margin: 0 auto;
  background-color: white;
}

#search-bar > * {
  float: left;
}

#search-bar > .solid-rounded + div {
  height: 50%;
  position: relative;
  top: 25%;
  border-left: 1px solid lightgray;
}

#search-bar > .solid-rounded {
  text-align: left;
  width: 20%;
  height: 100%;
  padding: 14px 3%;
}

#search-bar > .solid-rounded:first-child {
  width: calc(35% - 3px);
}

#search-bar > .solid-rounded:last-child {
  width: 25%;
  position: relative;
}

#search-bar > .solid-rounded > div {
  font-size: 14px;
  color: black;
  margin-top: 2px;
}

#search-btn {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 10.8px;
  right: 10.8px;
  border: none;
  font-size: 19px;
  color: white;
  background-color: rgb(255, 56, 91);
}

#search-btn > svg {
  display: block;
  fill: none;
  width: 50%;
  position: relative;
  top: 0px;
  left: 25%;
  stroke: white;
  stroke-width: 4;
  overflow: visible;
}

#right-menu {
  float: right;
  min-width: 350px;
  width: 35%;
  height: 100%;
  position: relative;
}

#right-menu * {
  display: inline-block;
}

#right-menu > .solid-rounded {
  float: right;
  padding: 11px 13px 15px 13px;
  position: relative;
  top: 18px;
}

#right-menu > .solid-rounded:nth-child(3) {
  font-weight: bold;
}

#right-menu > .solid-rounded:nth-child(2) > svg {
  display: block;
  height: 18px;
  width: 18px;
  padding-right: 1%;
  margin-right: 8px;
  position: relative;
  top: 2px;
  fill: white;
}

#right-menu > .solid-rounded:first-child {
  padding: 7px 9px;
  padding-left: 10px;
  color: black;
  background-color: white;
}

#right-menu > .solid-rounded:first-child > svg {
  float: left;
  height: 20px;
  width: 18px;
  box-sizing: content-box;
  padding-left: 4px;
  position: relative;
  top: 6px;
  left: 0;
  fill: none;
  stroke: slategray;
  stroke-width: 4;
  overflow: visible;
}

#right-menu > .solid-rounded:first-child > svg + svg {
  height: 32px;
  width: 32px;
  padding-left: 0;
  margin-left: 10px;
  position: relative;
  top: 0;
  left: 0;
  fill: slategray;
  stroke: none;
}

section {
  width: 100%;
  height: 50vw;
  min-height: 540px;
  max-height: 620px;
  position: relative;
  box-shadow: 0 0 0 3px rgb(1, 255, 35) inset;
}

.contents-block {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  position: absolute;
  top: 0;
  left: 0;
}

.background-block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 3px rgb(18, 1, 255) inset;
}

#first-background-block {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent 15%),
    url(img/welcome_background_fhd.jpg);
  background-position-y: 48.5%;
  background-size: cover;
}

#first-contents-block {
  height: 55%;
  top: 45%;
}

#welcome-lbl {
  display: block;
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
  font-weight: 800;
  font-size: 55px;
  line-height: 1.1;
}

#tour-nearby-btn {
  margin-top: 20px;
  color: black;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
}

ul.horizontal-list {
  position: absolute;
  width: 80%;
  top: 7%;
  left: 10%;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.horizontal-list > li {
  display: inline-block;
  position: relative;
  width: 24%;
  border: 0;
  margin-top: 5px;
  margin-left: 4px;
  background-color: rgb(155, 155, 226);
}

#second-background-block {
  position: absolute;
  background-color: white;
}

#city-list1 {
}

#city-list2 {
  top: 22%;
}

#third > .text-container {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 10%;
  border: 0;
  color: white;
}

#third > .text-container > div:nth-child(1) {
  font-size: 30px;
}

#third .solid-semi-rounded-btn {
  position: absolute;
  width: 11%;
  height: 5%;
  top: 12%;
  right: 10%;
  background-color: black;
  border: 1px solid white;
  font-size: 13px;
  color: white;
}

.text-in-card-container {
  position: absolute;
  width: 40%;
  height: 0;
  padding-top: 40%;
  top: 25%;
  left: 10%;
}

.text-in-card {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
}

#third .text-in-card .picture {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  position: relative;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: lightcyan;
}

#third .text-in-card .picture > .description {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: rgb(66, 64, 64);
  border-radius: 0 0 10px 10px;
  font-size: 12.5px;
}

#fourth {
  max-height: 400px !important;
  background-color: white;
  color: black;
}

#fourth > div:nth-child(1) {
  width: 60%;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 30px;
}

#fourth li {
  width: 32.5%;
  margin: 0;
  padding: 0 5px 0 0;
}

#fourth li:last-child {
  padding: 0;
}

#fourth .picture {
  padding-top: 75%;
}

.small-card {
  display: inline-block;
  position: relative;
  min-width: 180px;
  max-width: 200px;
  width: 100%;
  padding-top: 33.3%;
  border: inherit;
}

.small-card > .picture {
  position: absolute;
  top: 5%;
  left: 1.7%;
  width: 30%;
  height: 90%;
  background-color: gray;
  border: inherit;
  border-radius: 5px;
}

.city {
  position: absolute;
  top: 20%;
  left: 35%;
  font-weight: bold;
  border: inherit;
}

.distance {
  position: absolute;
  top: 50%;
  left: 35%;
  border: inherit;
  font-size: smaller;
}

.medium-card > .picture {
  width: 100%;
  padding-top: 100%;
  background-color: gray;
  border: inherit;
  border-radius: 10px;
}

.description {
  border: inherit;
  font-weight: bold;
}
