* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* notice  */
.notice {
  background-color: black;
  text-align: center;
  height: 60px;
  padding-top: 20px;
}
.notice__link {
  color: white;
  font-size: 12px;
  text-decoration: underline;
}

/* banner  */
.banner {
  background: url("https://a0.muscache.com/im/pictures/cf39f4c4-e860-43d4-85be-deddd7b2da90.jpg?im_w=1440")
    no-repeat center;
  height: 85vh;
  background-size: cover;
  /* position: relative; */
}

/* header  */
header {
  padding: 20px 80px;
  text-align: justify;
  min-width: 740px;
}
header:after {
  content: "";
  display: inline-block;
  width: 100%;
}
header .logo a {
  color: white;
  font-size: 30px;
}
header .logo span {
  margin-left: 10px;
}
header .logo,
header nav,
header .service {
  display: inline-block;
  /* color: white; */
}
.menu__btn,
.service__btn {
  color: white;
}
nav .menu li,
.service li {
  display: inline-block;
  margin-left: 20px;
}

.banner-content {
  padding-top: 170px;
  padding-left: 80px;
  /* font-size: 30px; */
}
.banner-content .text1 {
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.banner-content a {
  display: inline-block;
  background: white;
  color: black;
  font-size: 14px;
  padding: 6px 20px;
  margin-top: 20px;
  border-radius: 6px;
}

/* local */
.local {
  padding: 80px 80px;
}
.local__line1,
.local__line2 {
  text-align: justify;
  min-width: 800px;
}

.local__line1:after,
.local__line2:after {
  content: "";
  display: inline-block;
  width: 100%;
  /* margin: 0px; */
}
.local__content {
  display: inline-block;
  /* margin-bottom: 10px; */
  /* padding: 0px; */
  /* margin: 0px; */
  width: 190px;
  background-color: blue;
}
.local__content img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  float: left;
}
.local__textbox {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 0;
}
.local__name {
  margin-bottom: 5px;
  font-weight: bold;
}

/* room  */
.room {
  padding: 30px 80px;
}
