.header {
  position: relative;
  width: auto;
}

.header,
.header a {
  color: white;
}

/* header - 코로나 알림 메시지 */

.header__alertMessage {
  height: 60px;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.header__alertMessage a {
  color: #dddddd;
  width: 100%;
  text-align: center;
}

.header__alertMessage a:hover {
  color: #cfcdcc;
}

/* header 로고, 탭, 계정 라인 */

.header__content {
  display: flex;
  color: black;
  padding: 2% 7% 0 7%;
  background-image: url("https://a0.muscache.com/im/pictures/cf39f4c4-e860-43d4-85be-deddd7b2da90.jpg?im_w=1440");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 47em;
}

.header__content .item {
  /* border: 1px solid black; */
  width: 100%;
  /* display: flex; */
  /* flex-direction: row; */
}

#airbnb-logo {
  fill: white;
  /* padding: 0.8em; */
}

.header__search-radio {
  display: flex;
  justify-content: center;
  color: white;
  /* display: grid; */
  /* border: 1px solid red; */
  /* height: 40px; */
}

/* fieldset {
  width: 100%;
  display: flex;
  border: 1px solid white;
  color: white;
  font-weight: 200px;
  font-size: 16.5px;
} */

.tab__item {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  margin: 0 1em;
}

.search-tab__title {
  /* margin: 0 1em; */
  cursor: pointer;
  /* border: 1px solid black; */
}

.search-tab__title:hover {
  color: #cfcdcc;
}

.default__underBar {
  /* js로 동작해야 할 듯 */
  margin-top: 0.5em;
  width: 6px;
  transform: translateX(200%);
  border-bottom: 2px solid white;
}

.set__underBar {
  margin-top: 0.5em;
  width: 18px;
  transform: translateX(50%);
  border-bottom: 2px solid white;
  border-radius: 1em;
}

/* header - 검색바 */

.header__search-bar {
  position: absolute;
  width: 50%;
  max-width: 900px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  height: 4.3em;
  border-radius: 2em;
  display: flex;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.none {
  display: none;
}

.header__search-bar .item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 1 20px;
  padding: 0.3em 0.7em;
  width: 100%;
  cursor: pointer;
}

.header__search-bar .item:hover {
  border-radius: 2em;
  background-color: #f1f1f1;
}

.header__search-bar .search-bar__location {
  /* background-color: khaki; */
  flex-grow: 2;
}

.header__search-bar .search-bar__date {
  flex-grow: 1;
}

.header__search-bar .search-bar__people {
  /* background-color: teal; */
  flex-grow: 1.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__search-bar .search-bar__date-experience {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar__divideLine {
  all: unset;
  border-right: 1px solid #dddddd;
  flex: 0 0 0px;
  height: 32px;
  align-self: center;
}

.fa-search {
  font-size: 20px;
  padding: 0.7em;
  border-radius: 50%;
  background-color: #ff385c;
  color: white;
}

.search-bar__element {
  transform: translateX(14%);
  font-size: 14px;
}

.search-bar__element .title {
  font-size: 12px;
  font-weight: bold;
}

/* header - 계정 부분 */

.header__account-items {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.account-items__element {
  all: unset;
  /* border: 1px solid red; */
  font-size: 14px;
  font-weight: bold;
  /* padding: 0.7em; */
}

.header__account-btn {
  border-radius: 2em;
  font-size: 14px;
  font-weight: bold;
}

.account-items__element button {
  padding: 0.8em 20px 0 0;
  color: white;
}

#globe {
  padding-top: 0.1em;
}

.account-items__btn {
  /* border: 1px solid blue; */
  width: 80px;
  display: flex;
  justify-content: flex-end;
}

#account {
  all: unset;
  cursor: pointer;
  background-color: white;
  display: flex;
  height: 45px;
  /* width: 80px; */
  align-items: center;
  text-align: center;
  /* margin-left: 1em; */
  /* padding: 0.4em; */
  border-radius: 1.5em;
  /* background-color: white; */
  color: #717171;
}

#account span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
  width: 80%;
  height: 100%;
  padding: 0.25em;
}

/* 계정버튼 누르면 나오는 레이어 */

.account__layer {
  /* visibility: hidden; */
  position: absolute;
  background-color: white;
  /* padding: 0.8em; */
  width: 13%;
  top: 18%;
  border-radius: 0.7em;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.account__layer ul li {
  margin: 3px;
  padding: 10px 15px 10px;
  font-size: 14px;
}

.account__layer ul li:hover {
  background-color: #f1f1f1;
}

.account__layer ul .line {
  all: unset;
  margin: 0.5em 0;
  border-top: 1px solid #dddddd;
}

.account__layer ul {
  display: flex;
  flex-direction: column;
}

.account__layer-first {
  font-weight: bold;
}

.header__main-statement {
  position: absolute;
  top: 45%;
  left: 7%;
}

.header__main-statement h1 {
  max-width: 330px;
  font-size: 50px;
}

.header__main-statement button {
  background-color: white;
  color: #606060;
  padding: 0.5em 1em;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}

.header__main-statement button:hover {
  background-color: #f1f1f1;
}
