body,
ul,
button,
fieldset,
a {
  all: unset;
}

a,
button {
  cursor: pointer;
}

.header {
  position: relative;
  width: auto;
}

.header,
.header a {
  color: white;
  border: 3px solid red;
}

.header__alertMessage {
  height: 60px;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
}

.header__alertMessage a {
  color: white;
  width: 100%;
  text-align: center;
}

.header__alertMessage a:hover {
  color: gray;
}

.header__content {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  margin-top: 20px;
  height: 150px;
  width: 100%;
  position: absolute;
}

#airbnb__logo {
  width: 100px;
}

.header__search {
  display: flex;
}

.header__account {
  display: flex;
}

.header__main-statement {
  position: absolute;
  top: 45%;
  left: 5%;
}

.header__main-statement h1 {
  max-width: 430px;
  border: 1px solid red;
  font-size: 50px;
}

.header__main-image {
  max-height: 48rem;
  overflow: hidden;
  width: auto;
}

.header__main-image img {
  max-height: initial;
  margin-top: -8%;
  width: 100%;
  object-fit: cover;
}

/* main sections*/

li {
  all: unset;
}

/* section 1 - cities */

.main__destinations {
  width: auto;
  /* border: 1px solid blue; */
  padding: 0 5%;
}

.main__destinations .item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  margin: 64px 0;
  border: 3px solid red;
}

.main__destinations .item li a {
  display: flex;
  align-items: center;
}

.main__destinations .item img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 15%;
}

.main__destinations .item a span div {
  padding-left: 13px;
}

.main__destinations .item .city {
  font-weight: bold;
}

/* section 2 - houseType */

p {
  font-size: 32px;
  font-weight: bolder;
}

.main__houseType {
  /* border: 1px solid green; */
  margin: 2.5rem 0;
  padding: 0 5%;
}

.main__houseType .house {
  display: grid;
  gap: 1.2%;
  grid-template-columns: repeat(4, 1fr);
  /* border: 1px solid blue; */
}

.main__houseType .house a {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
}

.main__houseType .house img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main__houseType .house .title,
.main__beHost .item ul li .title {
  all: unset;
  padding-top: 1.2%;
  font-size: 18px;
  font-weight: bold;
}

/* section 3 - online-activities */

.main__online-activity {
  color: white;
  width: auto;
  background-color: black;
  padding: 0 7% 5% 7%;
}

.main__online-activity .header {
  /* all: unset; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.main__online-activity .header p,
.main__online-activity .header button {
  padding-top: 7%;
  margin-bottom: 0;
}

.main__online-activity .item ul {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1% 1.1%;
  height: 100%;
}

.main__online-activity .item ul li {
  all: unset;
  /* border: 1px solid blueviolet; */
}

.main__online-activity .item ul li:nth-child(1) {
  grid-area: 1 / 1 / span 2 / auto;
  /* border: 3px solid pink; */
}

.main__online-activity .item ul li:nth-child(2) {
  grid-area: 1 / 2 / auto / auto;
}

.main__online-activity .item ul li:nth-child(4) {
  grid-area: 2 / 2 / auto / span 2;
}

.main__online-activity .item ul li .description {
  position: relative;
}

.main__online-activity .item ul li .description .img img {
  object-fit: cover;
  width: 100%;
  vertical-align: bottom;
  border-radius: 16px;
}

.main__online-activity .item ul li .description #firstText {
  bottom: 5%;
  left: 2%;
}

.main__online-activity .item ul li .description #lastText {
  left: 2%;
}

.main__online-activity .item ul li .description .description__text {
  position: absolute;
  /* border: 1px solid yellow; */
  bottom: 10%;
  left: 4%;
  text-align: left;
}

.main__online-activity .item ul li .description .description__text span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

/* section 4 - beHost */

.main__beHost {
  margin: 4rem 0;
  padding: 0 5%;
  /* border: 1px solid green; */
  /* position: relative; */
}

.main__beHost .item ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2%;
  /* border: 1px solid purple; */
  width: auto;
  height: 100%;
}

.main__beHost .item ul img {
  width: 100%;
  border-radius: 8px;
}

/* footer */

.footer {
  border-top: 1px solid #dddddd;
  background-color: #f7f7f7;
  padding: 0 5%;
  font-size: 14px;
}

.footer h4 {
  font-size: 12px;
}

.footer .footer__about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 1px solid red; */
  /* justify-content: span; */
  padding: 3% 0;
}

.footer .footer__about section {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}

.footer .footer__about section ul {
  display: flex;
  flex-direction: column;
}

.footer .footer__about section ul li {
  margin-bottom: 5%;
}

.footer .footer__others {
  /* border: 1px solid blue; */
  /* display: flex; */
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  padding: 2% 0;
}

.footer .footer__others .item {
  /* border: 1px solid orangered; */
  width: inherit;
}

.footer .footer__others .global,
.footer .footer__others .sns ul {
  /* border: 1px solid forestgreen; */
  display: flex;
  justify-content: space-evenly;
}

.footer .footer__others .global div {
  padding: 0 3%;
}
