body,
ul,
button,
fieldset,
a {
  all: unset;
}

a,
button {
  cursor: pointer;
}

.header {
  position: relative;
  width: auto;
}

.header,
.header a {
  color: white;
  /* border: 3px solid red; */
}

.header__alertMessage {
  height: 60px;
  background-color: black;
  text-align: center;
  display: flex;
  align-items: center;
}

.header__alertMessage a {
  color: white;
  width: 100%;
  text-align: center;
}

.header__alertMessage a:hover {
  color: gray;
}

.header__content {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  margin-top: 20px;
  height: 150px;
  width: 100%;
  position: absolute;
}

#airbnb__logo {
  width: 100px;
}

.header__search {
  display: flex;
}

.header__account {
  display: flex;
}

.header__main-statement {
  position: absolute;
  top: 45%;
  left: 5%;
}

.header__main-statement h1 {
  max-width: 430px;
  border: 1px solid red;
  font-size: 50px;
}

.header__main-image {
  max-height: 48rem;
  overflow: hidden;
  width: auto;
}

.header__main-image img {
  max-height: initial;
  margin-top: -8%;
  width: 100%;
  object-fit: cover;
}

/* main sections*/

li {
  all: unset;
}

/* footer */

.footer {
  border-top: 1px solid #dddddd;
  background-color: #f7f7f7;
  padding: 0 5%;
  font-size: 14px;
}

.footer h4 {
  font-size: 12px;
}

.footer .footer__about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 1px solid red; */
  /* justify-content: span; */
  padding: 3% 0;
}

.footer .footer__about section {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}

.footer .footer__about section ul {
  display: flex;
  flex-direction: column;
}

.footer .footer__about section ul li {
  margin-bottom: 5%;
}

.footer .footer__others {
  border-top: 1px solid #dddddd;
  /* display: flex; */
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  padding: 2% 0;
}

.footer .footer__others .item {
  /* border: 1px solid orangered; */
  width: inherit;
}

.footer .footer__others .global,
.footer .footer__others .sns ul {
  /* border: 1px solid forestgreen; */
  display: flex;
  justify-content: space-evenly;
}

.footer .footer__others .global div {
  padding: 0 3%;
}
