body,
ul,
button,
fieldset,
a,
input {
  all: unset;
}

a,
button,
input {
  color: black;
  cursor: pointer;
}

/* main sections*/

li {
  all: unset;
}

/* footer */

.footer {
  border-top: 1px solid #dddddd;
  background-color: #f7f7f7;
  padding: 0 7%;
  font-size: 14px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer h4 {
  font-size: 12px;
}

.footer .footer__about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 1px solid red; */
  /* justify-content: span; */
  padding: 3% 0;
}

.footer .footer__about section {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
}

.footer .footer__about section ul {
  display: flex;
  flex-direction: column;
}

.footer .footer__about section ul li {
  margin-bottom: 5%;
}

.footer .footer__others {
  border-top: 1px solid #dddddd;
  /* display: flex; */
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  padding: 2% 0;
}

.footer .footer__others .item {
  /* border: 1px solid orangered; */
  width: inherit;
}

.footer .footer__others .global,
.footer .footer__others .sns ul {
  /* border: 1px solid forestgreen; */
  display: flex;
  justify-content: space-evenly;
}

.footer .footer__others .global div {
  padding: 0 3%;
}
