/* section 1 - cities */

.main__destinations {
  width: auto;
  /* border: 1px solid blue; */
  padding: 0 5%;
}

.main__destinations .item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  margin: 64px 0;
  border: 3px solid red;
}

.main__destinations .item li a {
  display: flex;
  align-items: center;
}

.main__destinations .item img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 15%;
}

.main__destinations .item a span div {
  padding-left: 13px;
}

.main__destinations .item .city {
  font-weight: bold;
}
