.main__beHost {
  margin: 4rem 0;
  padding: 0 5%;
  /* border: 1px solid green; */
  /* position: relative; */
}

.main__beHost .item ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2%;
  /* border: 1px solid purple; */
  width: auto;
  height: 100%;
}

.main__beHost .item ul img {
  width: 100%;
  border-radius: 8px;
}
