/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */
*{
  /* outline: solid red 1px; */
  margin: 0;
  padding: 0;
}
a {
  color: #00B7FF;
}

ul{
  list-style:none;
  padding:1rem;
}

#logo {
  cursor: pointer;
  /* margin-top:16px;
  margin-left: 80px; */
}

#logo2 {
  visibility: hidden;
}

span.ingredient {
  display: inline-block;
}

#corona {
  background-color: black;
  color: white;
  text-decoration: underline;
  height: 66px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#outline {
  margin-left: 80px;
  color: white;
  margin-top: 10%
}

#btn1 {
  color: black;
  background-color: white;
  margin-top: 2rem;
}



#mainTitle {
  color: white;
  font-size: 48px;
  font-weight: bolder;
  line-height: 58px;
}

.nav{
  height: 80px;
  margin: 0 80px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-left{
  width:33%;
  margin: auto;
  margin-left: 0;
}

.nav-menu{
  width:33%;
  text-align: center;
  color:white;
  margin: auto;
}

.nav-right {
  width:33%;
  display:flex;
  align-items:center;
  justify-content: flex-end;
  color:white;
}

.nav-span{
  font-size: 16px ;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  padding: 10px 12px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  z-index: 0;
  color: #FFFFFF;
}

.userBtn{
  width:85px;
  height: 42px;
  border-radius: 21px;
  background-color: #fff;
  border: 1px solid  #fff;
  color: #222222;
  cursor: pointer;
  display:flex;
  flex-direction: column;
}

.containerTitle{
  display:flex;
  flex-direction: row;
  margin: 4 auto;
}
.containerHidden{
  visibility: hidden;
  /* visibility: visible; */
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
  position: relative;
  right: 76px;
  top: 2px;
}

.containerShow{
  margin:auto;
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.btn1{
  box-shadow: 0px 0px 10px 0px white;
}


.first-page {
    background-image: url("http://localhost:3000/images/main_top.webp");
    background-position: 0 -330px;
    width:100%;
    height: 700px;
}

.smallImg{
  margin:auto;
  border-radius: 10px;
  width: 64px;
  height: 64px;
}

.mainImg{
  width: 300px;
  height: 300px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;

  padding: 5px;
  background-color: white;
  margin: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.fourthpage{
  background-color: black;
  color: white;
}

.middleImg{
  width: 200px;
  height: 200px;
}

.second-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50%;
  align-items: center;
  margin-left:80px;
  margin-right:80px;
  /* width: 30%; */
}
.second-page_tile{
  display: inline-flex;
  width:25%;
  /* margin: 2rem; */
  /* padding-left: 1rem; */
}

.second-page_text{
  padding:1rem;
}

.third-title{
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-left:80px;
}
.thrid-page{
  display: inline-block;
}

.thrid-tile{
  display: inline-flex;
  background-color: black;
}

.fa{
  margin:auto;
}

.userIcon{
  margin:auto;
  margin-left: 10px;
  padding: 0;
}

#recommandPlace{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.earthBtn{
  background:transparent;
  border-style: none;
}

.earthIcon{
  position: relative;
  top: 12px;
  left: 12px;
}

#logoEarth {
  /* width:17px;
  height: 17px; */
  margin: auto 5px;
  padding: 0;
}