<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <title>숙소, 체험, 장소를 모두 한 곳에서-에어비앤비</title>
  </head>
  <body>
    <header>
      <div class="notice">
        에어비앤비의 코로나19 대응 방안에 대한 최신정보를 확인하세요
      </div>
    </header>

    <main>
      <div class="main-with-bg">
        <nav>
          <div class="nav-left">
            <a href="#">
              <img src="http://localhost:3000/images/airbnb.svg" alt="airbnb" />
            </a>
          </div>

          <ul class="nav-center">
            <li class="nav-center-stay"><a href="#">숙소</a></li>
            <li class="nav-center-experience"><a href="#">체험</a></li>
            <li class="nav-center-online-experience">
              <a href="#">온라인 체험</a>
            </li>
          </ul>
          <ul class="nav-right">
            <li><a href="#">호스트 되기</a></li>
            <li>
              <img
                src="http://localhost:3000/images/earth.svg"
                alt="language"
              />
            </li>
            <li>
              <span class="account-group">
                <a href="#">
                  <img src="http://localhost:3000/images/list.svg" alt="list" />
                  <img
                    src="http://localhost:3000/images/people.svg"
                    alt="account"
                  />
                </a>
              </span>
            </li>
          </ul>
          <div class="account-menu">
            <div class="sub-1">
              <p><b>회원가입</b></p>
              <p>로그인</p>
            </div>
            <div class="sub-2">
              <p>숙소 호스트 되기</p>
              <p>체험 호스팅하기</p>
              <p>도움말</p>
            </div>
          </div>

          <div class="search"></div>

          <div class="search-button">
            <img src="http://localhost:3000/images/search-solid.svg" alt="" />
          </div>
        </nav>

        <div class="main-section">
          <div class="main-text">
            <pre>
이제, 여행은
가까운 곳에서</pre
            >
          </div>
          <button class="search-nearby">근처의 숙소 둘러보기</button>
        </div>
      </div>

      <section class="destinations">
        <ul>
          <li class="destination">
            <a href="#">
              <img src="http://localhost:3000/images/city-1.jpg" alt="" />
            </a>
            <div>
              <span class="destination-text"> <b>서울</b> </span>
              <span class="destination-text">차로 30분 거리</span>
            </div>
          </li>
          <li class="destination">
            <a href="#">
              <img src="http://localhost:3000/images/city-2.jpg" alt="" />
            </a>
            <div>
              <span class="destination-text"> <b>인천</b> </span>
              <span class="destination-text">차로 45분 거리</span>
            </div>
          </li>
          <li class="destination">
            <a href="#">
              <img src="http://localhost:3000/images/city-3.jpg" alt="" />
            </a>
            <div>
              <span class="destination-text"> <b>대구</b> </span>
              <span class="destination-text">차로 3.5시간 거리</span>
            </div>
          </li>
          <li class="destination">
            <a href="#">
              <img src="http://localhost:3000/images/city-4.jpg" alt="" />
            </a>
            <div>
              <span class="destination-text"> <b>대전</b> </span>
              <span class="destination-text">차로 2시간 거리</span>
            </div>
          </li>
          <li class="destination">
            <a href="#">
              <img src="http://localhost:3000/images/city-5.jpg" alt="" />
            </a>
            <div>
              <span class="destination-text"> <b>수원시</b> </span>
              <span class="destination-text">차로 30분 거리</span>
            </div>
          </li>
          <li class="destination">
            <a href="#">
              <img src="http://localhost:3000/images/city-6.jpg" alt="" />
            </a>
            <div>
              <span class="destination-text"> <b>부천시</b> </span>
              <span class="destination-text">차로 45분 거리</span>
            </div>
          </li>
        </ul>
      </section>
    </main>
    <section class="houses">
      <div class="houses-text">어디에서나, 여행은 살아보는 거야!</div>
      <ul class="house-type">
        <li class="house-type-sub">
          <img src="http://localhost:3000/images/house_type_1.jpg" alt="" />
          <p>집 전체</p>
        </li>
        <li class="house-type-sub">
          <img src="http://localhost:3000/images/house_type_2.jpg" alt="" />
          <p>통나무집 및 전원주택</p>
        </li>
        <li class="house-type-sub">
          <img src="http://localhost:3000/images/house_type_3.jpg" alt="" />
          <p>독특한 공간</p>
        </li>
      </ul>
    </section>
    <section class="experience">
      <div>온라인 체험</div>
      <div>전문가가 진행하고 모두 함께 즐기는 참여형 액티비티</div>
      <button class="">모두 둘러보기</button>
      <ul>
        <li>
          <div>
            <img src="http://localhost:3000/images/activity-1.jpg" alt="" />
          </div>
        </li>
        <li>
          <div>
            <img src="http://localhost:3000/images/activity-2.jpg" alt="" />
          </div>
        </li>
        <li>
          <div>
            <img src="http://localhost:3000/images/activity-3.jpg" alt="" />
          </div>
        </li>
      </ul>
    </section>
    <section class="host">
      <div class="host-text">
        수백만 명에 이르는 에어비앤비 호스트 커뮤니티의 일원이 되어보세요.
      </div>
      <div class="host-div">
        <ul>
          <li>
            <img src="http://localhost:3000/images/host-1.jpg" alt="" />
            <p>숙소 호스트 되기</p>
          </li>
          <li>
            <img src="http://localhost:3000/images/host-2.jpg" alt="" />
            <p>온라인 체험 호스팅하기</p>
          </li>
          <li>
            <img src="http://localhost:3000/images/host-3.jpg" alt="" />
            <p>체험 호스팅하기</p>
          </li>
        </ul>
      </div>
    </section>

    <script src="/javascripts/account.js"></script>
    <script src="/javascripts/nav_sub.js"></script>
  </body>
</html>
