<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>숙소, 체험, 장소를 모두 한 곳에서-에어비앤비</title>
  </head>
  <body>
    <header>
      <div class="notice">
        에어비앤비의 코로나19 대응 방안에 대한 최신정보를 확인하세요
      </div>
    </header>

    <main>
      <div class="main-with-bg">
        <div>어디로 여행가세요?</div>
        <div>이제, 여행은 가까운 곳에서</div>
        <button>근처의 숙소 둘러보기</button>
        <nav>
          <div class="logo"><img src="img/airbnb.svg" alt="airbnb" /></div>

          <ul>
            <li><a href="#">숙소</a></li>
            <li><a href="#">체험</a></li>
            <li><a href="#">온라인 체험</a></li>
          </ul>
          <ul>
            <li><a href="#">호스트 되기</a></li>
            <li></li>
            <li></li>
          </ul>
        </nav>
      </div>

      <section>
        <div class="destination">
          <img src="img/city-1.jpg" alt="" />
          <span>서울</span>
          <span>차로 30분 거리</span>
        </div>
        <div class="destination">
          <img src="img/city-2.jpg" alt="" />
          <span>인천</span>
          <span>차로 45분 거리</span>
        </div>
        <div class="destination">
          <img src="img/city-3.jpg" alt="" />
          <span>대구</span>
          <span>차로 3.5시간 거리</span>
        </div>
        <div class="destination">
          <img src="img/city-4.jpg" alt="" />
          <span>대전</span>
          <span>차로 2시간 거리</span>
        </div>
        <div class="destination">
          <img src="img/city-5.jpg" alt="" />
          <span>수원시</span>
          <span>차로 30분 거리</span>
        </div>
        <div class="destination">
          <img src="img/city-6.jpg" alt="" />
          <span>부천시</span>
          <span>차로 45분 거리</span>
        </div>
      </section>
    </main>
    <section>
      <div>어디에서나, 여행은 살아보는 거야!</div>
      <div>
        <div>
          <img src="img/house_type_1.jpg" alt="" />
        </div>
        <div>
          <img src="img/house_type_2.jpg" alt="" />
        </div>
        <div>
          <img src="img/house_type_3.jpg" alt="" />
        </div>
      </div>
    </section>
    <section>
      <div>온라인 체험</div>
      <div>전문가가 진행하고 모두 함께 즐기는 참여형 액티비티</div>
      <button>모두 둘러보기</button>
    </section>
    <section>
      <div>
        수백만 명에 이르는 에어비앤비 호스트 커뮤니티의 일원이 되어보세요.
      </div>
    </section>
  </body>
</html>
