<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>숙소, 체험, 장소를 모두 한곳에서 - 에어비엔비</title>
    <script
      src="https://kit.fontawesome.com/2d323a629b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="firstPage">
      <div class="corona">
        <a href="">
          에어비앤비의 코로나19 대응 방안에 대한 최신 정보를 확인하세요.
        </a>
      </div>
      <header>
        <div class="logo">
          <i class="fab fa-airbnb"></i>
          <span>airbnb</span>
        </div>
        <nav>
          <div>
            <input
              class="nav_item"
              name="choice"
              type="radio"
              id="nav_radio_1"
              checked
            />
            <label for="nav_radio_1">숙소</label>
          </div>
          <div>
            <input
              class="nav_item"
              name="choice"
              type="radio"
              id="nav_radio_2"
            />
            <label for="nav_radio_2">체험</label>
          </div>
          <div class="atag"><a href="">온라인체험</a></div>
        </nav>
        <div class="member_setting">
          <span class="host">호스트되기</span>
          <i class="fas fa-globe"></i>
          <button class="menuAndAcountIcon">
            <i class="fas fa-bars"></i>
            <i class="fas fa-user-circle"></i>
          </button>
        </div>
      </header>
      <ul class="header_dropdown">
        <li>회원가입</li>
        <li class="header_dropdown_li2">로그인</li>
        <li>숙소 호스트 되기</li>
        <li>체험 호스팅 하기</li>
        <li>도움말</li>
      </ul>
      <div class="main">
        <ul class="main_reserve_container">
          <li>
            <span>위치</span>
            <span>어디로 여행가세요?</span>
          </li>
          <div class="main_reserve_container_line"></div>
          <li>
            <span>체크인</span>
            <span>날짜 추가</span>
          </li>
          <div class="main_reserve_container_line"></div>
          <li>
            <span>체크아웃</span>
            <span>날짜 추가</span>
          </li>
          <div class="main_reserve_container_line"></div>
          <li>
            <span>인원</span>
            <span>게스트 추가</span>
          </li>
          <button class="main_reserve_container_searchBtn">
            <svg
              viewBox="0 0 32 32"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              role="presentation"
              focusable="false"
              style="
                display: block;
                fill: none;
                height: 16px;
                width: 16px;
                stroke: currentcolor;
                stroke-width: 4;
                overflow: visible;
              "
            >
              <g fill="none">
                <path
                  d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9"
                ></path>
              </g>
            </svg>
          </button>
        </ul>
        <div class="phraseAndbutton">
          <div class="phrase">이제, 여행은 가까운 곳에서</div>
          <button class="findNearRooms_btn">근처의 숙소 둘러보기</button>
        </div>
      </div>
    </div>
    <section class="section_cities">
      <ul>
        <li>
          <img alt="서울" src="/img/sec1-01.jpg" />
          <div class="city_items">
            <span>서울</span>
            <span> 차로 15분 거리 </span>
          </div>
        </li>
        <li>
          <img alt="인천" src="/img/sec1-02.jpg" />
          <div class="city_items">
            <span>인천</span>
            <span> 차로 30분 거리 </span>
          </div>
        </li>
        <li>
          <img alt="의정부" src="/img/sec1-03.jpg" />
          <div class="city_items">
            <span>의정부</span>
            <span> 차로 45분 거리 </span>
          </div>
        </li>
        <li>
          <img alt="대전" src="/img/sec1-04.jpg" />
          <div class="city_items">
            <span>대전</span>
            <span> 차로 2.5시간 거리 </span>
          </div>
        </li>
        <li>
          <img alt="대구" src="/img/sec1-05.jpg" />
          <div class="city_items">
            <span>대구</span>
            <span> 차로 4시간 거리 </span>
          </div>
        </li>
        <li>
          <img alt="고양시" src="/img/sec1-06.jpg" />
          <div class="city_items">
            <span>고양시</span>
            <span> 차로 30분 거리 </span>
          </div>
        </li>
        <li>
          <img alt="부천시" src="/img/sec1-07.jpg" />
          <div class="city_items">
            <span>부천시</span>
            <span> 차로 30분 거리 </span>
          </div>
        </li>
        <li>
          <img alt="수원시" src="/img/sec1-08.jpg" />
          <div class="city_items">
            <span>수원시</span>
            <span> 차로 45분 거리 </span>
          </div>
        </li>
      </ul>
    </section>
    <section class="section_spaceType">
      <div>어디에서나, 여행은 살아보는 거야!</div>
      <ul>
        <li>
          <img alt="집전체" src="/img/sec2-01.jpg" />
          <span>집 전체</span>
        </li>
        <li>
          <img alt="독특한공간" src="/img/sec2-02.jpg" />
          <span>독특한 공간</span>
        </li>
        <li>
          <img alt="온수욕조" src="/img/sec2-03.jpg" />
          <span>온수 욕조</span>
        </li>
        <li>
          <img alt="캠핑 및 글램핑" src="/img/sec2-04.jpg" />
          <span>캠핑 및 글램핑</span>
        </li>
      </ul>
    </section>
    <section class="section_activities">
      <div class="section_activities_title">
        <div class="section_activities_title_left">
          <span>온라인 체험</span>
          <span>
            현지 전문가와 함께하는 독특한 액티비티를 직접 체험하거나 온라인으로
            만나보세요.
          </span>
        </div>
        <button class="section_activities_title_right">모두 둘러보기</button>
      </div>
      <div class="section_activities_grid">
        <article class="box1">
          <span>이탈리아 할머니와 함께 수제 파스타 만들기</span>
        </article>
        <article class="box2">
          <span>선(禪) 사상을 통한 마음챙김 식사</span>
        </article>
        <article class="box3">
          <span>아르헨티나를 대표하는 예르바 마테차 알아보기</span>
        </article>
        <article class="box4">
          <span>파리의 콘서트 피아니스트와 함께 음악을 들으며 명상하기</span>
        </article>
      </div>
    </section>
    <section class="section_beHost">
      <div class="section_beHost_title">
        수백만 명에 이르는 에어비앤비 호스트 커뮤니티의 일원이 되어보세요.
      </div>
      <ul>
        <li>
          <img src="/img/sec4-01.jpg" alt="숙소호스트" />
          <span>숙소 호스트 되기</span>
        </li>
        <li>
          <img src="/img/sec4-02.jpg" alt="온라인호스팅" />
          <span>온라인 체험 호스팅하기</span>
        </li>
        <li>
          <img src="/img/sec4-03.jpg" alt="체험호스팅" />
          <span>체험 호스팅하기</span>
        </li>
      </ul>
    </section>
    <script type="text/javascript" src="/js/scroll.js"></script>
    <script type="text/javascript" src="/js/dropdown.js"></script>
  </body>
</html>
