table {
  width: 100%;
  color: black;
  empty-cells: hide;
}

td,
th {
  font-size: 14px;
  border-radius: 70%;
  width: 47px;
  height: 47px;
  text-align: center;
  padding: 1px;
}

.mondayToFriday td {
  height: 16px;
  color: #717171;
  font-size: 12px;
  border: none;
}

.calendar_mainBar {
  width: 100%;
  height: 6%;
}

.calendar_container {
  width: 45%;
  background-color: white;
  border-radius: 30px;
  position: absolute;
  left: 27.5%;
  top: 190px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 372px;
}

.calendar_div_1 {
  width: 39.6%;
}
.calendar_div_2 {
  width: 39.6%;
}
