@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

input {
  font-style: none;
}

body {
  font-family: sans-serif;
}

button,
button:focus {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
}

/*CORONA 관련 맨 윗부분 CSS STYLE*/

.corona {
  padding: 17px;
  background: black;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.corona a {
  color: #ddd;
}

.corona a:hover {
  color: rgb(204, 203, 203);
}

/* -------------------HEADER-------------------*/

.firstPage {
  position: relative;
  height: 700px;
  background: url("/img/top_banner.webp") no-repeat center center;
  background-size: cover;
}

header {
  padding: 13px 70px;
  background: linear-gradient(rgba(37, 37, 37, 0.7), transparent), transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  color: white;
  z-index: 999;
}

.white {
  background: white;
  color: black;
  top: 0;
  transition: background 250ms ease-in;
}

header .logo {
  display: flex;
  font-size: 35px;
}

.pink {
  color: rgb(255, 0, 119);
}

header .logo span {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}

header nav {
  display: flex;
  padding-top: 3px;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
header nav div {
  padding: 10px;
}

header nav div:hover {
  color: #a9a9a9;
}

header nav a {
  padding-left: 20px;
  color: inherit;
  text-decoration: none;
}
header nav a:hover {
  color: gray;
}

.black {
  color: black;
}

.nav_item {
  opacity: 0;
}

input[type="radio"]:checked + label {
  color: white;
}

header .member_setting {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}
header .member_setting .host {
  font-size: 14px;
  font-weight: bold;
}
header .member_setting .menuAndAcountIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  border-radius: 25px;
  border: 1px solid #ddd;
  background: white;
  color: grey;
}
header .member_setting .menuAndAcountIcon i:last-child {
  margin-left: 13px;
  font-size: 30px;
}

.header_dropdown {
  display: none;
  padding: 10px 0px;
  flex-direction: column;
  border-radius: 10px;
  width: 15%;
  background: white;
  color: black;
  position: absolute;
  right: 5%;
  top: 70px;
}

.flex {
  display: flex;
}

.header_dropdown li {
  padding: 12px;
  font-size: 14px;
}
.header_dropdown li:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
}

.header_dropdown_li2 {
  border-bottom: #ddd solid 1px;
}

.main {
  width: 100%;
}

.main .phraseAndbutton {
  position: relative;
}

.main .phrase {
  position: absolute;
  left: 70px;
  top: 270px;
  color: white;
  font-size: 53px;
  width: 330px;
  font-weight: bold;
  line-height: 1.2em;
}
.main .findNearRooms_btn {
  color: black;
  position: absolute;
  left: 70px;
  top: 410px;
  background: white;
  padding: 6px 14px 6px 14px;
  border-radius: 9px;
  font-size: 14px;
  font-weight: bold;
}

.main .findNearRooms_btn:hover {
  background: rgb(248, 248, 248);
}

.main_reserve_container {
  width: 45%;
  display: flex;
  background-color: white;
  position: relative;
  height: 60px;
  border-radius: 40px;
  left: 27.5%;
  top: 70px;
  justify-content: ;
}
.main_reserve_container li {
  padding: 10px 17px;
  width: 25%;
  border-radius: 40px;
  border: none;
}

.main_reserve_container li span:first-child {
  display: block;
  font-size: 12px;
}

.main_reserve_container li span:last-child {
  display: block;
  font-size: 14px;
  color: rgb(204, 203, 203);
}

.main_reserve_container li:hover {
  background-color: #ddd;
}

.main_reserve_checkInOut {
  display: flex;
  justify-content: space-between;
}

.main_reserve_container_line {
  border-right: solid 1px #ddd;
  height: 32px;
  align-self: center;
}

.main_reserve_container_searchBtn {
  display: flex;
  color: white;
  background-color: rgb(255, 56, 92);
  justify-content: center;
  align-items: center;
  border-radius: 70%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.main_reserve_container_searchBtn:hover {
  background-color: rgb(245, 14, 14);
}

/* ------------------SECTION PARTS---------------------- */
/* SECTION CITIES*/

.section_cities {
  padding: 60px 70px;
}
.section_cities ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 16px;
}
.section_cities li {
  display: flex;
}
.section_cities img {
  width: 65px;
  border-radius: 9px;
}

.section_cities .city_items {
  margin-left: 17px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_cities .city_items span:first-child {
  font-weight: bold;
}
.section_cities .city_items span:last-child {
}

/* SECTION SPACETYPE*/

.section_spaceType {
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
}
.section_spaceType > div {
  font-size: 35px;
  font-weight: bold;
  margin: 12px 0px;
}

.section_spaceType ul {
  display: flex;
  justify-content: space-between;
}

.section_spaceType li {
  width: 330px;
  display: block;
}

.section_spaceType li img {
  width: 330px;
  border-radius: 9px;
}

.section_spaceType li span {
  font-size: 18px;
  font-weight: bold;
}

/* SECTION ACTIVITIES */

.section_activities {
  padding: 60px 70px;
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
}

.section_activities_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section_activities_title button {
  color: white;
  border: 2px solid white;
  border-radius: 9px;
  margin: 10px 0px;
  padding: 0px 10px;
}

.section_activities_title_left > span:first-child {
  display: block;
  font-weight: bold;
  font-size: 30px;
}

.section_activities_grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.section_activities_grid .box1 {
  position: relative;
  height: 700px;
  background: url(/img/sec3-01.jpg) no-repeat center center;
  background-size: cover;
  grid-column: 1/3;
  grid-row: 1/3;
  border-radius: 9px;
}

.section_activities_grid .box2 {
  position: relative;
  background: url(/img/sec3-02.jpg) no-repeat;
  background-size: cover;
  border-radius: 9px;
}

.section_activities_grid .box3 {
  position: relative;
  background: url(/img/sec3-03.jpg) no-repeat;
  background-size: cover;
  border-radius: 9px;
}

.section_activities_grid .box4 {
  position: relative;
  grid-column: 3/5;
  grid-row: 2/3;
  background: url(/img/sec3-04.jpg) no-repeat;
  background-size: cover;
  border-radius: 9px;
}

.section_activities_grid span {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  bottom: 30px;
}

/* SECTION BEHOST */

.section_beHost {
  padding: 60px 70px;
}

.section_beHost_title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section_beHost ul {
  display: flex;
  justify-content: space-between;
}

.section_beHost li {
  display: flex;
  flex-direction: column;
}

.section_beHost li img {
  width: 450px;
  border-radius: 9px;
}

.section_beHost li span {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
