@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Jua&family=Nanum+Brush+Script&display=swap');

:root {
    --black: #000000;
    --info-color: #f5f6fa;
    --grey:grey;
    --font-family-normal: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-family-jua-googlefont: 'Jua', sans-serif;
    --font-color: #ffffff;
    --slogan-font-size: 4rem;
    --normal-font-size: 1rem;
    --title-font-size: 2rem;
    --font-weight-bold: bold;
    --image-border-radius: 15px;
    --nav-btn-border-radius: 30px;
    --page-tb-margin: 40px;
    --page-side-margin: 80px;
    --section-font-size: 2.4rem;
    --section-font-weight: 600;    
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-jua-googlefont);
}


aside {
    padding: 20px var(--page-side-margin);
    background-color: var(--black);
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.img-cover {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(../img/main-wide.jpg);
    background-repeat: no-repeat;
}

.info-corona {
    color: var(--info-color);
    font-family: var(--font-family);
    text-decoration: underline;
    font-size: var(--normal-font-size);
}

.header {
    padding: 20px var(--page-side-margin);
    display: flex;
    justify-content: space-between;
}

a {
    color:var(--font-color);
    text-decoration: 0;
}

.logo-font {
    padding-right: 90px;
    font-size: 1.6rem;
    font-weight: var(--font-weight-bold);
    color: var(--font-color);
}

.top-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--normal-font-size);
    color: var(--font-color);
}

.top-list-words {
    margin: 0;
    display: inline-block;
    padding: 0 20px;
    list-style: none;
    font-size: var(--normal-font-size);
    position: relative;
}

.top-list-words a {
    line-height: 0;
}

.top-list-words::after {
    content: "";
    margin: -4px;
    left:50%;
    display: block;
    height: 2px;
    width:3px;
    border-bottom: 2px solid var(--info-color);
    position: absolute;
    opacity: 0;
    transition-property: opacity, width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.top-list-words:hover::after{
    width: 10px;
    opacity: 1;
}

.top-list-words:focus {
    margin-top: 5px;
    border-bottom: 2px solid var(--info-color);
}

.top-list-words:hover {
    cursor: pointer;
    opacity: 70%;
}

.nav {
    font-size: var(--normal-font-size);
    font-weight: var(--font-weight-bold);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-list {
    margin: 0 10px;
    cursor: pointer;
}

.nav-btn {
    background: 0;
    border: 0;
    outline: 0;
    color: var(--font-color);
    font-size: var(--normal-font-size);
    border-radius: var(--nav-btn-border-radius);
}

.nav-btn.profile {
    padding: 6px 14px;
    background-color: var(--info-color);
    color:var(--grey);
    font-size: 20px;
    border-radius: var(--image-border-radius);
}

.nav-profile-tab {
    width: 0;
    height: 0;
    visibility: hidden;
}

.nav-profile-tab-show {
    margin-top: 20px;
    width: 100%;
    height: auto;
    top: 50%;
    visibility: visible;
    position: absolute;
    z-index: 2;
}

.nav-profile-menu {
    background-color: var(--info-color);
    box-shadow: 2px 2px 10px var(--grey);
    border-radius: var(--nav-btn-border-radius);
    text-align: left;
}


.nav-profile-tab-show li {
    padding: 20px;
    cursor: pointer;
}

.nav-profile-tab-show li:hover {
    background-color: rgba(177, 172, 172, 0.15);
}

.info-form-container {
    margin: 0 var(--page-side-margin);
    text-align: left;
    display: flex;
    justify-content: center;
}

.info-input-form {
    padding: 10px;
    height: 70px;
    width: 60%;
    background-color: var(--info-color);
    display: flex;
    border-radius: 40px;
}

.info-input-form .labels-input{
    margin: 5px;
    padding-left: 10px;
    width: 100%;
    font-size: 0.8rem;
    font-weight: var(--font-weight-bold);
    border: 1px solid transparent;
    border-right-color: var(--grey);
    cursor:pointer;
}

.info-input-form .labels-input input {
    margin-top: 5px;
    width: 100%;
    color: var(--grey);
    background: none;
    outline: 0;
    border: 0;
}

.input-hidden {
    display: none;
}

.input-date .info-inputs{
    margin: 0;
    padding: 0;
    text-align: left;
    cursor:pointer;
}

#no-border{
    border: 0;
}

.search-btn-container{
    display: flex;
    position: relative;
}

.search-btn {
    right: 10%;
    width: 50px;
    height: auto;
    background-color: #eb3b5a;
    font-size: var(--normal-font-size);
    color: var(--info-color);
    border-radius: 50%;
    outline: 0;
    border: 0;
}

.slogan-section {
    margin: 150px var(--page-side-margin) 0 var(--page-side-margin);;
    height: 70%;
}

.slogan-section .slogan {
    margin-bottom: 20px;
    width: 370px;
    color: var(--font-color);
    font-size: var(--slogan-font-size);
}

.slgoan-btn {
    padding: 6px 10px;
    width: 250px;
    height: 40px;
    background-color: var(--info-color);
    color: var(--black);
    font-weight: var(--font-weight-bold);
    font-size: var(--normal-font-size);
    border-radius: 8px;
}


.city-section {
    margin: var(--page-tb-margin) var(--page-side-margin);
}

.city-aritcle {
    display: flex;
    flex-wrap: wrap;
}

.city-lists {
    display: flex;
    margin-bottom: 20px;
    flex: 1 1 25%;
}

.city-lists .city-name {
    font-weight: var(--font-weight-bold);
}

.city-spans {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content:center;

}

.city-lists span {
    padding-bottom: 5px;
    color: var(--black);
    font-size: var(--normal-font-size);
}

.city-lists img {
    width: 80px;
    height: 80px;
}

.first-middle-section {
    margin: 60px var(--page-side-margin);
}

.first-middle-section h2 {
    font-size: var(--title-font-size);
}

.first-middle-sec-container {
    display: flex;
}

.first-middle-sec-container img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: var(--image-border-radius);
}

.first-middle-sec-content {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
}

.first-middle-sec-content .img-content {
    margin: 5px;
}

.first-middle-sec-content span {
    margin: 5px 0 0 10px;
    color: var(--black);
    font-size: 1.1rem;
    font-weight: var(--font-weight-bold);
}

.second-middle-sec-container {
    margin: var(--page-tb-margin) 0;
    background-color: var(--black);
    color:var(--font-color);
}

.second-middle-sec-top {
    padding: var(--page-tb-margin) var(--page-side-margin);
    display: flex;
    justify-content: space-between;
}

.second-middle-sec-top .title h2 {
    margin: 0;
    font-size: var(--title-font-size);
}

.second-middle-sec-top button {
    width: 120px;
    height: 40px;
    background: 0;
    outline: 0;
    border: 1px solid var(--info-color);
    border-radius: var(--image-border-radius);
    color: var(--font-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-weight-bold);
}

.second-middle-aritcles-container {
    margin: 0 var(--page-side-margin);
    display: grid;
    gap: 16px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.second-middle-aritcles-container img {
    width: 100%;
    height: 100%;
}

.summary-img.first div {
    width: 100%;
    padding-left: 10px;
    bottom: 5%;
    position: absolute;
    z-index: 1;
    font-size: var(--normal-font-size);
    color:var(--font-family);
    font-weight: var(--section-font-weight);
}

.summary-img.second div,
.summary-img.third div,
.summary-img.forth div {
    padding-left: 10px;
    bottom: 10%;
    width: 100%;
    position: absolute;
    z-index: 1;
    font-size: var(--normal-font-size);
    color:var(--font-family);
    font-weight: var(--section-font-weight);
}

.summary-img.first {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    position: relative;
    grid-area: 1 / 1 / span 2;
    justify-content:flex-end;
}

.summary-img.second {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    position: relative;
    grid-column: 2 / span 1;
    justify-content:flex-end;
}


.summary-img.third {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    position: relative;
    grid-column: 3 / span 1;
    justify-content: flex-end;
}



.summary-img.forth {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    position: relative;
    grid-column: 2 / span 2;
    justify-content:flex-end;
}

.last-section-container {
    margin: var(--page-tb-margin) var(--page-side-margin);
}

.last-section-container h2 {
    font-size: var(--title-font-size);
}

.last-sec-contents-list {
    display: flex;
}

.last-sec-content {
    margin: 0 8px;
}

.last-sec-content img {
    width: 100%;
    height: 100%;
    border-radius: var(--image-border-radius);
}

.last-sec-content span {
    padding-left: 15px;
    color: var(--black);
    font-weight: var(--section-font-weight);
    font-size: 1.1rem;
}