.tabUI_reserve_container_2 {
  display: none;
  width: 45%;
  background-color: #fff;
  position: absolute;
  height: 60px;
  border-radius: 40px;
  left: 27.5%;
  top: 120px;
  justify-content: space-evenly;
  font-size: 14px;
}
.flex {
  display: flex;
}

.tabUI_reserve_container_2 li {
  padding: 10px 17px;
  width: 25%;
  border-radius: 40px;
  border: none;
}

.tabUI_reserve_container_2 li span:first-child {
  display: block;
  font-size: 12px;
}

.tabUI_reserve_container_2 li span:last-child {
  display: block;
  font-size: 14px;
  color: #cccbcb;
}

.tabUI_reserve_container_2 li:hover {
  background-color: #ddd;
}

.tabUI_reserve_container_2__line {
  border-right: solid 1px #ddd;
  height: 32px;
  align-self: center;
}

.tabUI_reserve_container_2__searchBtn {
  display: flex;
  color: #fff;
  background-color: #ff385c;
  justify-content: center;
  align-items: center;
  border-radius: 70%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.tabUI_reserve_container_2__searchBtn:hover {
  background-color: #f50e0e;
}
