<div class="calendar left">
    <p class="year-month"></p>
    <ul class="day">                                                
        <li>일</li>
        <li>월</li>
        <li>화</li>
        <li>수</li>
        <li>목</li>
        <li>금</li>
        <li>토</li>
    </ul> 
    <div class="date__dynamic">
    </div>
</div>
<div class="calendar right">
    <p class="year-month"></p>
    <ul class="day">                                                
        <li>일</li>
        <li>월</li>
        <li>화</li>
        <li>수</li>
        <li>목</li>
        <li>금</li>
        <li>토</li>
    </ul>             
    <div class="date__dynamic">
    </div>
</div>