.navbar_ul {
    display: flex;
    width: 33%;
    height: 43px;
    justify-content: center;
    align-items: center;
  }
  .navbar_ul > li {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 16px;
  }
  .navbar_logo {
    width: 33%;
    height: 43px;
    margin-left: 80px;
  }
  .navbar_login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 80px;
    width: 33%;
  }
  
  .navbar_login_icons {
    padding: 0;
    display: flex;
    align-items: center;
    width: 77px;
    height: 42px;
    cursor: pointer;
    border-radius: 21px;
    outline: none;
    border-style: none;
    border: 1px;
  }
  
  .navbar_login_earthicon {
    display: flex;
    align-items: center;
    width: 143 px;
    height: 42px;
    margin-right: 8px;
  }
  .navbar_login_earthicon > button:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
  .navbar_login_earthicon > span:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
  
  .navbar_login_earthicon > button {
    text-align: center;
    height: 42px;
    width: 46px;
    padding: 12px;
    border-radius: 21px;
    background: none;
  }
  .navbar_login_earthicon > span {
    padding: 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 21px;
  }