@import url('./ratio.css');

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.float_clear {
    clear: both;
}

/* --------------------------- */

/* 전체 Wrapper */
div.wrap {
    width: 1900px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
    left: -2px;
}

/* 헤더 Wrapper */
div.header {
    width: 100%;
    height: calc(80% - 20px);
    background-image: url('../images/top_banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div.header > header {
    width: 100%;
    height: 80px;
}

/* ---- 헤더 1 - 코로나 알림 ---- */
div.header__covid {
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
    line-height: 60px;
}

div.header__covid > a,
div.header__covid > a:link,
div.header__covid > a:visited {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}

div.header__covid > a:hover,
div.header__covid > a:active {
    color: #ddddddcc;
}

/* ---- 헤더 2 - 로고, 검색, 언어지역 & 로그인버튼 ----  */
div.header__main {
    width: 100%;
    padding: 25px 0px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

/* 1. 로고 */
div.header__main__logo {
    position: relative;
    left: -2%;
    width: 25%;
    text-align: center;
}
div.header__main__logo > a {
    color: #FFF;
}

/* 2) 검색 */
div.header__main__search {    
    color: #FFF;   
    width: 50%;         
    text-align: center;
}

/* 2-1) 검색 : 검색 옵션 */
div.header__main__search__options > input[type='radio'] {
    display: none;
}

div.header__main__search__options > input[type='radio'] + label {
    display: inline-block;    
    padding: 0 13px;
    cursor: pointer;
}

div.header__main__search__options > input[type='radio'] + label:hover {
    filter: brightness(0.85);
}

div.header__main__search__options > input[type='radio']:checked + label > p.underline {    
    padding-top: 8px;
    border-bottom: 2px solid #FFF;
}

/* 2-2) 검색 : 검색바 */
div.header__main__search__bar {
    position: relative;
    top: 22px;    
    margin: 0 55px;
    height: 66px;    
    border: 1px solid #FFF; 
    background-color: #FFF;
    font-size: 12px;
    color: #000;
    border-radius: 32px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 40%);
    text-align: left;

    display: flex;
    justify-content: space-around;
}

div.header__main__search__bar > label.checkin-out {
    width: 25%;
}

div.header__main__search__bar > label > div {
    padding: 14px 26px;
    border-radius: 32px;
    cursor: pointer;
}

div.header__main__search__bar > label > div:hover {
    background-color: #ddddddcc;
}

div.header__main__search__bar > label > div > p {
    font-weight: 600;
}

div.header__main__search__bar > label > div > input {
    margin-top: 7px;
    border: none;
    width: 100%;    
    background-color: transparent;
}

div.header__main__search__bar > label > div > input[type="datetime-local"] {
    margin-top: 5px;
    border: none;
    width: 100%;
    font-size: 12px;
    color: #8d8d8d;
    background-color: transparent;
}

div.header__main__search__bar > label > div.searchBarBtn {
    background-color: red;
    padding: 16px 17px;
    margin-left: 10px;    
    position: relative;
    top: 7px;
    right: 7px;
}

div.header__main__search__bar > label > div.searchBarBtn:hover {
    background-color: #e31b60;    
}

div.header__main__search__bar > label > div.searchBarBtn > button {    
    background-color: transparent;
    border: none;    
}
div.header__main__search__bar > label > div.searchBarBtn > button > img {
    width: 16px;
    height: 16px;    
}

/* 3) 언어지역 & 로그인버튼 */
div.header__main__login {
    position: relative;
    right: 2%;
    width: 25%;
    text-align: center;    
    color: #FFF;   
    display: flex;    
    align-items: flex-start;
    justify-content: center;
}

div.header__main__login > a.becomeHost {    
    color: #FFF;  
    text-decoration: none;    
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 12px;
}

div.header__main__login > a.becomeHost:hover {
    background-color: #ffffff18;
}

div.header__main__login > a.region {    
    border-radius: 20px;
    padding: 8px;    
}

div.header__main__login > a.region:hover {
    background-color: #ffffff18;
}

div.header__main__login > a.region > img.earthLogo {
    position: relative;
    top: 1px;
    width: 16px;
    height: 16px;
}

div.header__main__login > button.navBtn {
    background: none;    
	border: none;	
    cursor: pointer;
    color: #FFF;
    margin-left: 12px;
    padding: 4px 6px 4px 12px;
    background-color: #FFF;
    border-radius: 25px;
}

div.header__main__login > button.navBtn > img.icon--list {
    position: relative;
    top: -5px;        
    width: 16px;
    height: 16px;
}

div.header__main__login > button.navBtn > img.icon--people {
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

/* ---- 헤더 3 - 헤더 큰 텍스트 ---- */
div.header__headingText {    
    height: 636px;    
    margin: 0px 8%;
    margin-top: -45px;    
    display: flex;    
    flex-direction: column;  
    justify-content: center;
}

div.header__headingText > span.bigtext {
    color: #FFF;
    font-size: 52px;
    font-weight: bold;
    display: block;
}
div.header__headingText > a.nearby {
    margin-top: 22px;
    display: block;
    width: 160px;
    padding: 4px 0px;    
    border-radius: 8px;
    background-color: white;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

/* ----------------------------- */

/* 콘텐츠 Wrapper */
div.content {
    width: 100%;
}

div.content > ul > li {
    margin: 70px 8%;
}

div.content > ul > li.black {
    margin: 0;
    background-color: black;
}

div.content-flexAble {
    margin: 70px auto;    
}

/* 콘텐츠 공통 */
p.content-secDesc {
    font-size: 32px;
    font-weight: bold;
}

/* 콘텐츠 - section1 (지역 종류)  */
ul.content__locationType {
    margin: 0 0 0 13px;
}

ul.content__locationType > li > img {
    width: 20%;
    border: 1px solid #FFF;
    border-radius: 5px;
}

ul.content__locationType > li > div.info {
    display: inline-block;
    position: relative;
    top: -22px;
}

/* 콘텐츠 - section 2 (숙소 종류?)  */
ul.content__roomType {
    margin: 0 auto;
}

ul.content__roomType > li > img {
    width: 95%;
    margin-left: 5%;
    border: 1px solid #FFF;
    border-radius: 5px;
}

ul.content__roomType > li > p {
    text-align: left;
    margin-left: 5%;
}

/* 콘텐츠 - section 3 (액티비티)  */
/* 1) 상단 글자 및 버튼 */
div.content__activity {
    margin: 70px 8%;
    padding: 30px 0;
}

button.content__activity__btn {
    position: relative;
    top: 20px;
    right: 20px;

    border-radius: 5px;
    padding: 7px;
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: bold;
    background-color: black;

    cursor: pointer;
}

button.content__activity__btn:hover {
    background-color: rgb(119, 119, 119);
}

/* 2) 하단 이미지들 */
ul.content__activity__ul {
    padding: 20px 0;
}

ul.content__activity__ul > li > p {
    position: relative;
    top: -55px;
    left: 20px;
    color: #FFF;
    font-weight: bold;
}

ul.content__activity__ul > li > img {
    width: 100%;
    border-radius: 16px;
}

/* 콘텐츠 - section 4 (호스팅)  */
ul.content__hosting {
    padding-top: 20px;
    padding-bottom: 80px;
}
ul.content__hosting > li {
    display: inline-block;
    width: calc(33.3% - 10px);
}
ul.content__hosting > li > img {
    width: 100%;
    border-radius: 16px;
}
