body {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: #000000;
}

button, .nav>span {
  outline: none;
  cursor: pointer;
}

* {
  outline: 1px red solid;
}

img {
  border-radius: 10px;
}

#aside {
  padding: 20px 40px;
  margin: auto auto;
  background: #000000;
  text-align: center;
}

#aside>:link, #aside>:visited {
  color: #DDDDDD;
  text-decoration: underline;
}

.padding80 {
  padding: 0 80px;
}

.padding5080 {
  padding: 50px 80px;
}

.margin50 {
  margin: 50px 0;
}

header {
  height: 83vh;
  background-image: url("https://a0.muscache.com/im/pictures/cf39f4c4-e860-43d4-85be-deddd7b2da90.jpg?im_w=1440");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#logo {
  display: flex;
  height: 80px;
  place-items: center;
}

#logo>:nth-child(1) {
  font-weight: bold;
  font-size: 22px;
}

#logo>div {
  flex: auto;
  width: 37%;
}

#logo>div>a:visited {
  color: #FFFFFF;
}

.flex_center {
  display: inline-flex;
  align-items: center;
}

.nav * {
  color: #FFF;
}

.nav>:hover {
  border-bottom: 1px solid #FFF;
}

.text_center {
  text-align: center;
}

.text_end {
  text-align: end;
}

.text_end a:hover {
  background-color: rgba(121, 163, 185, 0.5);
  border-radius: 20px;
}

.height54 {
  height: 54px;
}

.nav>*, .text_end>* {
  padding: 10px;
}

#nav_button {
  position: relative;
  height: 42px;
  width: 77px;
  border: none;
  border-radius: 110px;
  top: 7px;
}

.search_input {
  display: flex;
  align-items: center;
  text-align: center;
  height: 66px;
  width: 850px;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 110px;
}

.search_input>div {
  width: 13rem;
  border-right: 1px solid #dadada;
}

.search_input>:nth-child(1) {
  width: 18rem;
}

.search_input>:nth-last-child(2) {
  width: 11rem;
  border: none;
}

.search_input>:nth-last-child(1) {
  width: 65px;
  border: none;
}

.search_input>:nth-last-child(1):hover {
  background: none;
}

.search_input>div div, .search_input>div input {
  width: 70%;
  margin: auto;
  border: none;
  text-align: left;
}

.search_input>div:hover {
  padding: 10px 0;
  background-color: #e7e7e7;
  border-radius: 110px;
  cursor: pointer;
}

.search_input input {
  cursor: default;
  background: transparent;
}

.search_button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: #fa215b;
}

.search_button:hover {
  background-color: #DC0E64;
}

#preface {
  display: flex;
  height: 625px;
  flex-direction: column;
  justify-content: center;
}

#preface>span {
  width: 400px;
  color: #FFFFFF;
  font-size: 58px;
  font-weight: bold;
}

#preface>button {
  width: 155px;
  height: 32px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.items.third>li {
  margin: 0 0px;
}

.img70 img {
  width: 70px;
}

.cities li {
  display: flex;
}

.cities>a {
  margin-top: 15px;
}

.cities li>span {
  place-self: center;
  margin-left: 20px;
}

.cities li>span>* {
  display: block;
}

.quarter>* {
  width: 25%;
  padding-right: 13px;
  box-sizing: border-box;
}

.third>* {
  width: 33.33%;
  padding-right: 13px;
  box-sizing: border-box;
}

.font32 {
  font-size: 32px;
}

.font18 {
  font-size: 18px;
}

.font16 {
  font-size: 16px;
}

.font14 {
  font-size: 14px;
}

.font12 {
  font-size: 12px;
}

.font_weight600 {
  font-weight: 600;
}

.font_bold {
  font-weight: bold;
}

.font_gray {
  color: rgb(113, 113, 113);
}

.black-background {
  background: black;
  color: white;
}

.black-background * {
  color: white;
}

.white_font {
  color: #FFFFFF;
}

.white_background {
  background: #FFF;
}

.gray-background {
  background: #F7F7F7;
  box-shadow: 0 0 4px 0 #F7F7F7, 4px 0 4px 0 #F7F7F7
}

.gray-border-top {
  border-top: 1px solid #DDDDDD;
}

footer a:hover {
  text-decoration: underline;
}

footer ul>* {
  margin-top: 10px;
}

footer ul>b {
  font-size: 12px;
}

footer ul>li {
  font-size: 14px;
}

.last_footer {
  display: flex;
  margin-bottom: 20px;
}

.last_footer>div {
  width: 25%;
  text-align-last: right;
}

.last_footer>div:nth-child(1) {
  width: 50%;
  text-align-last: left;
}

.tap_ui {
  position: relative;
  float: right;
  top: 16px;
  width: 65%;
  padding: 10px 0;
  background-color: #FFF;
  border-radius: 10px;
  z-index: 1;
}

.tap_ui .tap_ui__anchor {
  display: block;
  padding: 12px 16px;
  text-align: left;
}

.tap_ui .tap_ui__anchor:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 0;
}

.margin8 {
  margin: 8px 0;
}

.dark-gray_background {
  background: #d6d6d6;
}

.height1 {
  height: 1px;
}

.search_button>.magnifying_glass {
  width: 16px;
  transform: translate3d(0, 1px, 0);
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked+span {
  border-bottom: 1px solid #FFF;
  cursor: default;
}

.width50per {
  width: 50%;
}

.calender_box {
  position: absolute;
  display: flex;
  width: 850px;
  margin: 10px 0 0 -425px;
  left: 50%;
}

.calender_box__inside_box {
  padding: 16px 32px 25px;
  display: grid;
}

.calender_box__table {
  padding: 0 6px;
}

.calender_box__table tr>td {
  height: 45px;
  width: 45px;
}

.calender_box__table tr:nth-child(n+3)>td:not(:empty):hover {
  box-shadow: 0 0 0 1px #000;
  border-radius: 50%;
  cursor: pointer;
}

.calender_box__table__td-clicked {
  background: #222;
  color: #FFF;
  border-radius: 50%;
}

.calender_box__table__past_date {
  color: #b9b9b9;
}

.calender_box__inside_box .calender_box__table .calender_box__table__tr .calender_box__table__past_date:hover {
  /* 순서점수 높이려고.. 나열함.. 더 좋은방법은 뭘까요? 
  !important를 사용해야될 시점인가요? 
  scss를 사용하여 태그안에 태그를 연결해서 사용하면 해결될 문제인가요?*/
  box-shadow: 0 0 0 0;
  cursor: default;
}

.calender_box__table tr:nth-child(2)>td {
  height: 17px;
}

.calender_box__table tr:nth-child(-n+2)>td {
  cursor: default;
}

.calender_box__inside_box--month {
  padding: 22px 0 20px;
}

.calender_box--left_button {
  position: absolute;
  display: flex;
  width: 32px;
  height: 32px;
  border: none;
  background: #FFF;
  left: 469px;
  top: 35px;
  place-content: center;
  place-items: center;
}

.calender_box--right_button {
  position: absolute;
  display: flex;
  width: 32px;
  height: 32px;
  border: none;
  background: #FFF;
  right: 44px;
  top: 35px;
  place-content: center;
  place-items: center;
}

.calender_box--left_button:hover, .calender_box--right_button:hover {
  background: #F7F7F7;
  border-radius: 50%;
}

.display_none {
  display: none;
}

.border-radius32 {
  border-radius: 32px;
}