header {
  padding: 20px 150px;
  display: flex;
  justify-content: space-between;
}
.header__column {
  width: 33%;
}
.header__logo object {
  width: 100px;
  color: white;
}

/* form */

.search-form {
  display: flex;
  justify-content: center;
}

.search-form__tab {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
}
.search-form__tab > li + li {
  margin-right: 15px;
}
.search-form__tab > a {
  padding: 5px;
  border: 1px black solid;
}

.search-form__query {
  position: absolute;
  top: 100px;
  width: 635px;
  height: 70px;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 25px;
}
.search-form__query > div:first-child > input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}
.query-date-wrapper {
  display: flex;
}
.query__column {
  width: 150px;
}
.query__column div:first-child {
  margin-bottom: 5px;
}
.query__column > div:last-child {
  color: rgba(0, 0, 0, 0.3);
}
.query__column-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* nav */
.header__column:last-child nav {
  display: flex;
  justify-content: flex-end;
}
nav {
  display: flex;
  align-items: center;
}
nav > div {
  margin-left: 10px;
}
.nav-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 45px;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 22px;
}
