main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main__column {
  margin-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
.main__column img {
  border-radius: 10px;
}
.main__column:first-child {
  margin: 0;
  padding: 0;
}

.main-background img {
  width: 100%;
  height: 823px;
  border-radius: 0px;
}
.main-title {
  position: absolute;
  left: 150px;
  top: 380px;
  color: white;
  font-size: 3rem;
  font-weight: 600;
}
.main-title .main-title__span {
  display: block;
}
.main-title .main-title__span:first-child {
  margin-bottom: 10px;
}
.main-title .main-title__btn {
  width: 161px;
  height: 32px;
  background-color: white;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 22px;
}
.city-list,
.stay-list,
.experience-list,
.host-community-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.city-item,
.stay-item {
  width: 24%;
  margin-top: 15px;
}
/* city */
.city-item img {
  height: 100%;
}
.city-item {
  height: 64px;
  display: flex;
  align-items: center;
}
.city-item .city-info {
  margin-left: 20px;
}
.city-info .city-info__title {
  font-weight: 600;
  margin-bottom: 7px;
}
/* stay */
.stay-title h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.stay-item img {
  /* width: 386px; */
  width: 100%;
}
.stay-item .stay-name {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 1.1rem;
  font-weight: 600;
}

/* experience */
.main__column:nth-child(4) {
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}
.experience-title h2 {
  font-size: 2rem;
  font-weight: 600;
}
.experience-title h4 {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 30px;
}
.experience-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.experience-item:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}
.experience-item:last-child {
  grid-column: 3/5;
  grid-row: 2/3;
}
.experience-item img {
  width: 100%;
  height: 100%;
}

.experience-name {
  color: white;
  position: relative;
  left: 10px;
  bottom: 16%;
  font-size: 0.8rem;
}
.experience-item:first-child .experience-name {
  bottom: 8%;
}

/* host-community */
.main__column:last-child {
  margin-bottom: 50px;
}
.host-community-title > h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.host-community-item {
  width: 32%;
}
.host-community-item img {
  width: 100%;
}
.host-community-item .host-community-name {
  margin-top: 7px;
  font-size: 1.1rem;
  font-weight: 600;
}
