:root {
    --black: #000000;
    --info-color: #f5f6fa;
    --profile-bg-color: gray;
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-color: #ffffff;
    --normal-font-size: 1rem;
    --title-font-size: 2rem;
    --font-weight-bold: bold;
    --image-border-radius: 15px;
    --nav-btn-border-radius: 30px;
    --page-side-margin: 80px;
    --section-font-weight: 600;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

html, body {
    margin: 0;
    padding: 0;
}


aside {
    padding: 20px var(--page-side-margin);
    background-color: var(--black);
    text-align: center;
    position: initial;
}

.img-cover {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(./img/main-wide.jpg);
    background-repeat: no-repeat;
}

.info-corona {
    color: var(--info-color);
    font-family: var(--font-family);
    text-decoration: underline;
    font-size: var(--normal-font-size);
}

.header {
    padding: 20px var(--page-side-margin);
    display: flex;
    justify-content: space-between;
    position: relative;
}

a {
    color:var(--font-color);
    text-decoration: 0;
}

.logo-font {
    padding-right: 90px;
    font-size: 1.6rem;
    font-weight: var(--font-weight-bold);
    color: var(--font-color);
}

.top-list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--normal-font-size);
    text-align: center;
    color: var(--font-color);
}

.top-list-words {
    font-size: var(--normal-font-size);
    padding: 0 20px;
}

.nav {
    font-size: var(--normal-font-size);
    font-weight: var(--font-weight-bold);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    margin: 0 10px;
}

.nav-btn {
    background: 0;
    border: 0;
    outline: 0;
    color: var(--font-color);
    font-size: var(--normal-font-size);
    border-radius: var(--nav-btn-border-radius);
}

.nav-btn.profile {
    padding: 6px 14px;
    background-color: var(--info-color);
    color:var(--profile-bg-color);
    font-size: 20px;
    border-radius: var(--image-border-radius);
}

.slogan-section {
    margin: 150px var(--page-side-margin) 0 var(--page-side-margin);;
    height: 70%;
}

.slogan-section .slogan {
    margin-bottom: 20px;
    width: 420px;
    color: var(--font-color);
    font-size: 64px
}

.slgoan-btn {
    padding: 6px 10px;
    width: 250px;
    height: 40px;
    background-color: var(--info-color);
    color: var(--black);
    font-weight: var(--font-weight-bold);
    font-size: var(--normal-font-size);
    border-radius: 8px;
}


.city-section {
    margin: 40px var(--page-side-margin);
}

.city-aritcle {
    display: flex;
    flex-wrap: wrap;
}

.city-lists {
    display: flex;
    margin-bottom: 20px;
    flex: 1 1 25%;
}

.city-lists .city-name {
    font-weight: var(--font-weight-bold);
}

.city-spans {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content:center;

}

.city-lists span {
    padding-bottom: 5px;
    color: var(--black);
    font-size: var(--normal-font-size);
}

.city-lists img {
    width: 80px;
    height: 80px;
}

.first-middle-section {
    margin: 60px var(--page-side-margin);
}

.first-middle-section h1 {
    font-size: var(--title-font-size);
}

.first-middle-sec-articles {
    display: flex;
}

.first-middle-sec-articles img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: var(--image-border-radius);
}

.first-middle-sec-content {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
}

.first-middle-sec-content .img-content {
    margin: 5px;
}

.first-middle-sec-content span {
    margin: 5px 0 0 10px;
    color: var(--black);
    font-size: 1.1rem;
    font-weight: var(--font-weight-bold);
}

.second-middle-sec-container {
    margin-top: 60px;
    background-color: var(--black);
    color:var(--font-color);
}

.second-middle-sec-top {
    padding: 40px var(--page-side-margin);
    display: flex;
    justify-content: space-between;
}

.second-middle-sec-top .title h1 {
    margin: 0;
    font-size: var(--title-font-size);
}

.second-middle-sec-top button {
    width: 120px;
    height: 40px;
    background: 0;
    outline: 0;
    border: 1px solid var(--info-color);
    border-radius: var(--image-border-radius);
    color: var(--font-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-weight-bold);
}

.second-middle-aritcles-container {
    margin: 0 var(--page-side-margin);
    display: grid;
    gap: 16px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.second-middle-aritcles-container img {
    width: 100%;
    height: 100%;
}

.summary-img.first {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    position: relative;
    grid-area: 1 / 1 / span 2
}

.summary-img.first span {
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    font-size: var(--normal-font-size);
    color:var(--font-family);
    font-weight: var(--section-font-weight);
}

.summary-img.second {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    position: relative;
    grid-column: 2 / span 1
}

.summary-img.second span {
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    font-size: var(--normal-font-size);
    color:var(--font-family);
    font-weight: var(--section-font-weight);
}

.summary-img.third {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    position: relative;
    grid-column: 3 / span 1
}

.summary-img.third span {
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    font-size: var(--normal-font-size);
    color:var(--font-family);
    font-weight: var(--section-font-weight);
}

.summary-img.forth {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    position: relative;
    grid-column: 2 / span 2;
}

/* summary-img.second span과 같음 */
.summary-img.forth span {
    padding: 10px;
    width: calc(100%/2);
    position: absolute;
    bottom: 0;
    z-index: 1;
    font-size: var(--normal-font-size);
    color:var(--font-family);
    font-weight: var(--section-font-weight);
}



