/* 체험 - 날짜 달력 */

.calendar__background_experience-date,
.calendar__background_check-out,
.calendar__background_check-in {
  position: absolute;
  width: 50%;
  height: 45%;
  top: 27%;
  left: 50%;
  max-width: 900px;
  max-height: 900px;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 2em;
  display: flex;
  z-index: 1;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.calendar__box_experience-date,
.calendar__box_check-out,
.calendar__box_check-in {
  width: 100%;
  /* border: 1px solid teal; */
  padding: 3em 4em;
  display: flex;
}

#calendar__experience-date,
#calendar__check-out,
#calendar__check-in {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* border: 1px solid blue; */
}

.month {
  /* border: 1px solid teal; */
  /* padding: 2em; */
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.month__0 {
  padding-right: 2em;
}

.month__1 {
  padding-left: 2em;
}
.calendar__content {
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__date,
.day-name {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.today:hover,
.tomorrow:hover {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  tab-size: inherit;
}

.data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
  color: #717171;
}

.yesterday {
  color: #dddddd;
}

.selected {
  border-color: black;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.connected {
  background-color: #f7f7f7;
  border: none;
}

.connected:hover {
  border: none;
  border-radius: 0;
}
