.banner {}

/* 
  --hc-lg-height: 563;
  --hc-lg-width: 1128;
*/

.banner.wrapper {
  
}

.banner.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
}