@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.notice {
  background-color: black;
  color: white;
  text-decoration: underline;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.main-with-bg {
  background-image: url('http://localhost:3000/images/main.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 650px;
}

body section {
  margin: 0 3vh;
}

ul {
  list-style: none;
}

nav {
  color: white;
  position: relative;
  padding: 20px 50px;
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline;
  padding: 10px;
}

.nav-left {
  float: left;
}

.nav-left img {
  width: 100px;
  filter: brightness(3);
}

.nav-center {
  float: none;
  position: absolute;
  left: 42%;
  top: 12%;
}

.nav-right {
  display: inline;
  float: right;
}

.nav-right img {
  width: 20px;
  filter: invert(100%) brightness(100%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.account-group {
  background-color: white;
  border-radius: 20px;
  padding: 13px 7px 7px 5px;
}

.account-group img {
  filter: invert(60%) sepia(8%) saturate(0%) brightness(90%) contrast(86%);
}

.account-menu {
  display: none;
  position: absolute;
  left: 77%;
  top: 35%;
  border-radius: 10px;
  background-color: white;
  color: #222222;
  width: 230px;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.account-menu p {
  font-size: 14px;
  padding: 1rem;
}

.visible {
  display: block;
}

.account-menu div:not(:last-child) {
  border-bottom: 1px solid #a09e9e79;
}

.search {
  position: relative;
  background-color: rgb(221, 221, 221);
  border-radius: 35px;
  color: #222222;
  font-size: 14px;
  height: 4rem;
  margin: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search div {
  padding: 1rem 0.5rem 0rem 1.5rem;
  height: 4rem;
  width: calc(100% / 4);
  border-radius: 35px;
  border-right: 1px solid #a09e9e79;
}

.search > div:hover {
  background-color: white;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

/* .search-align-4 {
  width: calc(100% / 4);
}

.search-align-2 {
  width: calc(100% / 2);
} */

.search-button {
  position: absolute;
  top: 38%;
  right: 19%;
  border-radius: 50%;
  padding: 11px;
  width: 45px;
  background-color: #ff385c;
}

.search-button img {
  filter: invert(100%) brightness(100%);
}

.main-section {
  padding: 5% 5%;
}

.main-text {
  color: white;
  font-size: 3em;
}

.destinations ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1.5rem;
}

.destination {
  width: calc(100% / 3);
  padding: 5px;
  display: flex;
  align-items: center;
}

.destination-text {
  padding: 2px 15px;
  display: flex;
}

.destination img {
  border-radius: 10%;
  width: 72px;
}

.search-nearby {
  text-align: center;
  padding: 10px;
  margin: 20px 0;
  font-size: 14px;
  border: none;
  border-radius: 12px;
  color: #222222;
  background-color: white;
}

.houses-text,
.host-text {
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 2rem 0;
}

.house-type {
  display: flex;
}

.house-type-sub {
  width: calc(100% / 3);
  padding: 0.5rem;
}

.house-type-sub img {
  width: 100%;
  border-radius: 5px;
}

.experience {
  background-color: black;
}

.host-div ul {
  display: flex;
}

.host-div ul li {
  width: calc(100% / 3);
  padding: 0.5rem;
}

.host-div ul li img {
  width: 100%;
  border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: inherit;
}
