.experiences {
  padding: 60px 80px;
  background-color: black;
}

.experiences__header {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.section-explain > h2 {
  padding: 0;
}

.experiences__header > a {
  color: var(--white);
  border: 1px solid var(--white);
  padding: 5px 15px;
  border-radius: 8px;
}

.experience__img > img {
  border-radius: 16px;
}

.experience-01 {
  width: calc(50% - 32px / 3);
}
.experience-02,
.experience-03 {
  width: calc(25% - 32px / 3);
}
.experience-04 {
  width: calc(50% - 16px);
}
.experience-01,
.experience-02 {
  float: left;
}

.experience-01,
.experience-02 {
  margin-right: 8px;
}

.experience-02,
.experience-03,
.experience-04 {
  margin-left: 8px;
}

.experience-02,
.experience-03 {
  margin-bottom: 16px;
}

.experience__explain {
  color: var(--white);
}
