footer {
  height: 506px;
  padding: 0px 80px;
}

.footer__upper {
  padding: 48px 0px;
  display: flex;
  border-bottom: 1px solid gainsboro;
}

.footer__upper__item {
  width: 100%;
  padding: 12px 12px 0px;
}

.footer__upper__item--head-text {
  font-size: 12px;
  font-weight: 600;
}

.footer__upper__item div:not(.footer__upper__item--head-text) {
  margin-top: 14px;
  font-weight: lighter;
}

.footer__upper__item div:not(.footer__upper__item--head-text):hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer__downer {
  width: 100%;
  padding: 24px 0px;
  justify-content: space-between;
}

.company-info > span {
  width: 19px;
  text-align: center;
}

.countries {
  text-decoration: underline;
}

.language,
.currency {
  margin: 0px 10px;
  display: flex;
}

.language > div,
.currency > div {
  margin: 0px 5px;
}

.sns {
  width: 190px;
  flex-direction: row-reverse;
  justify-content: space-between;
}
