.rooms {
  padding: 0px 80px;
  height: 530px;
}

.rooms__head-text {
  padding-bottom: 16px;
  font-size: 32px;
  font-weight: bold;
}

.rooms__type {
  margin-right: 16px;
  font-size: 18px;
  font-weight: 600;
  display: block;
}

.rooms__type--img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
