<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style_test.css">
</head>
<body>
    <h2>Popup</h2>
    <div class="popup-container">
        <div class="popup">
            <span class="popuptitle">Click me to toggle the popup!</span>
            <span class="popuptext" id="myPopup">A Simple Popup!</span>
        </div>
    </div>
    <script src="javascripts/script_test.js"></script>
</body>
</html>