@import "../stylesheets/util.css";
@import "../stylesheets/header.css";
@import "../stylesheets/main.css";
@import "../stylesheets/footer.css";

/* global tag */

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

/* global tag end */


/* @import "header.css"; */
/* @import "../stylesheets/util.css"; */
/* 이건 안된다. css spec에 안맞아서 */