/*-------------------------------*/
/*HEADER*/
/*-------------------------------*/

header {
  margin-top: 0;
  background-image: linear-gradient(
      rgba(77, 73, 73, 0.411),
      rgba(184, 184, 184, 0)
    ),
    url("/images/bground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

#announcement {
  background-size: cover;
  background-color: black;
  background-position: center;
  height: 2rem;
}

/********* 코로나 안내문 *********/
.corona_info {
  color: #fff;
  margin-top: 0;
  font-weight: 400;
  font-size: 0.6rem;
  padding-top: 0.6rem;
}

/********* 네비게이터 전체 ********/
.logo_and_nav {
  display: flex;
  width: 100%;
  padding: 0 80px 0 80px;
  margin-top: 1rem;
}

/******* 좌측 에어비앤비 로고 ******/
.nav_left {
  width: calc(100% / 3);
}

.airbnb_logo {
  padding-top: 0.5rem;
  float: left;
  margin-left: 2rem;
  height: 50px;
  width: auto;
  filter: brightness(0) invert(1);
}

/********* 중앙 탭 UI **********/
.nav_center {
  text-align: center;
}

.main-nav li {
  display: inline-block;
  font-size: 0.6rem;
  color: #fff;
  margin: 0 30px 0 30px;
  cursor: pointer;
}

.main-nav input[type="radio"] {
  display: none;
}

.main-nav input[type="radio"] + span {
  padding-bottom: 0.3rem;
  border: none;
}

.main-nav input[type="radio"]:checked + span {
  border-bottom: 2px solid #fff;
  width: 1rem;
}

.search_box {
  height: 2.5rem;
  margin: 1rem 1rem 0 1rem;
  padding: 0 0.5rem 0 0.5rem;
  background-color: #fff;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

fieldset.search_box > div {
  display: inline-block;
  margin: 0.5rem 0 0 0.8rem;
  height: 1.5rem;
}

fieldset.search_box > div > label {
  float: left;
  font-size: 0.4rem;
  font-weight: 500;
}

fieldset.search_box > div > input {
  padding-top: 0.2rem;
  border: none;
  float: left;
  font-size: 0.5rem;
  color: rgb(224, 221, 221);
}

.sec_op,
.third_op,
.fourth_op {
  padding-left: 1rem;
  border-left: 0.05rem solid rgb(224, 221, 221);
}

#search_btn {
  background-color: #12cbc4;
  border-radius: 50px;
  height: 1.7rem;
  width: 2rem;
  cursor: pointer;
  margin-top: 0.4rem;
}

.search_logo {
  padding-top: 0.5rem;
  height: 35px;
  width: auto;
  filter: brightness(0) invert(1);
}

/********* 우측 로그인메뉴 *********/
.nav_right {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

.login_menu {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login_menu li {
  display: inline-block;
  margin-left: 20px;
  font-size: 0.5rem;
  height: 1.7rem;
  cursor: pointer;
}

.login_menu li:hover {
  background-color: rgba(251, 251, 251, 0.335);
  border-radius: 50px;
}

.login_menu li:first-child {
  padding-top: 0.5rem;
  width: 100px;
  font-size: 0.5rem;
}

.globe {
  padding-top: 0.5rem;
  width: 50px;
}

.earth_logo {
  height: 20px;
  width: auto;
  filter: brightness(0) invert(1);
}

.login_set {
  height: 1.7rem;
  width: 100px;
  background-color: #fff;
  border-radius: 50px;
  position: relative;
}

div.login_set > img {
  filter: invert(60%) sepia(1%) saturate(0%) hue-rotate(106deg) brightness(90%)
    contrast(86%);
}

.list_logo {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  height: 20px;
  width: auto;
}

.people_logo {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  height: 40px;
  width: auto;
}

/********* 우측 드롭다운 메뉴 *********/
.dropdown {
  border-radius: 10px;
  background-color: #fff;
  width: 8rem;
  height: 10rem;
  margin: 0.5rem 0 0 0;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 16px;
}

.dropdown > div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.upper_half {
  height: 40%;
}

.lower_half {
  border-top: 1px solid rgb(224, 221, 221);
  height: 60%;
}

.dropdown > div > li {
  align-self: flex-start;
  flex-grow: 1;
  font-size: 0.5rem;
  font-weight: 350;
  margin-top: 0.5rem;
  cursor: pointer;
}

/************ 메인 메세지 ***********/
.main_textbox {
  position: absolute;
  width: 1140px;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: left;
}

h1 {
  color: #fff;
  font-size: 200%;
}

.main_textbox_button {
  width: 180px;
  height: 40px;
  font-size: 0.6rem;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 0.3rem;
  border: none;
  cursor: pointer;
  background-color: #fff;
}
