
:root {--font-weight : 800;}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.alert{
    background-color: rgb(21, 20, 20);
    color:white;
    display: flex;
    padding: 1.3rem 0;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.alert a{
    color:white;
    font-weight: 400;
    font-size: 13.8px;
}

header {
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    height: 830px;
}

nav{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.logo{
    margin:25px 0 0 136px;
    color:white;
    font-size: 35px;
    /* background-color: #FF385C; */
}

.search__menu ul{
    display:grid;
    grid-template-columns: auto auto auto;
    margin:0 0 0 100px;
    color: white;
    font-weight: 300;
    list-style-type: none;
    padding: 2rem 0;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #FF385C;
    grid-gap:32px;
}

.menu{
    display: grid;
    margin:35px 127px 0 0px;
}
.menu ul{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    list-style-type: none;
    margin-right:10px;
    /* background-color: #FF385C; */
    font-size: 14px;
    font-weight: 300;
}
.menu ul a{
    text-decoration: none;
    color:white;
}

.view__ment {
    margin:175px 0 0 110px;
    display:grid;
    color:white;
    font-size: 50px;
    font-weight: 700;
}

.view__button {
    margin:15px 0 0 110px;
    background-color: white;
    color: rgb(21, 20, 20);
    font-weight: 600;
    width:138px;
    height: 32px;
    border-radius: 6px;
    border: 0px;
}

.search__box {
    display: grid;
    margin:0 0 0 470px;
    width: 900px;
    background-color: white;
    /* display: inline-block; */
    /* position: relative;  */
    /* left:500px; */
    border-radius: 100px;
    box-shadow: 0 2px 2px 0 rgb(214,214,214);
}

table {
    /* width:100% */
    padding: 3px 30px;


}

.search__sub__title{
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 600;
}
.search__input {
    border:none;
    color: rgb(100,98,98);

}
.search__button {
    display:grid;
    justify-content: end;
    padding-left: 20px;
}
.search__button button{
    background-color: #FF385C;
    color:white;
    width:50px;
    height: 50px;
    border-radius: 50px;
    border: 0px;
}

main{
    margin: 30px 110px;
}

section {
    margin: 0px 0;
}
.sec__title {
    font-size: 25px;
    font-weight: 700;
    color: rgb(21, 20, 20);

}

.card__box {
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column:10px;
    grid-row: 100px;
}

.card__img {
background-image: url("../images/sec1-01.jpg");
height: 70px;
background-size: 100%;
border-radius: 6px;
box-shadow: 0 3px 3px 0 rgb(170,170,170);
}

/* .__img img {

    width: 100%;
} */

.card {
    display: grid;
    grid-template-columns: 0.6fr 3fr;
    grid-template-rows: 1fr 0.2fr;
    /* border: 1px solid rgb(210,210,210); */
}

.card__subtitle {
    display: grid;
    /* justify-content: center; */
    align-items: center;
    margin-top:20px;
    margin-left: 10px;
    font-weight: 600;
}

.card__content {
    display: grid;
    /* justify-content: center; */
    align-items: center;
    margin-left: 10px;
}

.home__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 50px;
}

.home__img {
    margin-top:30px;
    background-image: url("../images/sec2-01.jpg");
    height:250px;
    background-size: 100% 100%;
    border-radius: 6px;
}

.act__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 100px;
    /* background-color: black; */
}

.act__img {
    margin-top: 10px;
    /* background-image: url("../images/sec3-01.jpg"); */
    width: 300px;
    /* background-size: 100% 100%; */
    border-radius: 6px; 
}

.act__img img {

    width: 100%;
}

.act__subtitle {
    display: grid;
    /* justify-content: center; */
    align-items: center;
    margin-top:20px;
    margin-left: 3px;
    font-weight: 600;
}

.act__content {
    display: grid;
    /* justify-content: center; */
    align-items: center;
    margin-left: 3px;
}

.host__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 100px;
    /* background-color: black; */
}

.host__img {
    margin-top: 30px;
    background-image: url("../images/sec4-01.jpg");
    height:250px;
    background-size: 100% 100%;
    border-radius: 6px; 
}

.host__info {
    display: grid;
    /* justify-content: center; */
    align-items: center;
    margin-top:3px;
    margin-left: 3px;
    font-weight: 400;
}




