/* 콘텐츠 Wrapper */
.content {
    width: 100%;
}

.content > ul > li {
    margin: 70px 8%;
}

.content > ul > li.bgColor--black {
    /* .content > ul > li.bgColor--black 부분은 margin 0 */
    margin: 0;
}

/* 콘텐츠 공통 */
p.content-secDesc {    
    font-size: 32px;
    font-weight: bold;
}

/* 콘텐츠 - section1 (지역 종류)  */
.content__locationType {
    margin-left: 20px;    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 10px;
}

.content__locationType > li {
    display: grid;
    grid-template-columns: 64px auto;
    column-gap: 10px;
    align-items: center;
}

.content__locationType > li > img {
    width: 100%;
    border: 1px solid var(--default-font-color);
    border-radius: 5px;
}

.content__locationType > li > .info {
    display: inline-block;
}

/* 콘텐츠 - section 2 (숙소 종류?)  */
.content__roomType {
    margin: 0 auto;
}

.content__roomType > li > img {
    width: 95%;
    margin-left: 5%;
    border: 1px solid var(--default-font-color);
    border-radius: 5px;
}

.content__roomType > li > p {
    text-align: left;
    margin-left: 5%;
}

/* 콘텐츠 - section 3 (액티비티)  */
/* 1) 상단 글자 및 버튼 */
.content__activity {
    margin: 70px 8%;
    padding: 30px 0;
}

.color--white {
    color: var(--default-font-color);
}

.content__activity__btn {
    position: relative;
    top: 20px;
    right: 20px;

    border-radius: 5px;
    padding: 7px;
    border: 1px solid var(--default-font-color);
    color: var(--default-font-color);
    font-weight: bold;
    background-color: #000;

    cursor: pointer;
}

.content__activity__btn:hover {
    background-color: rgb(119, 119, 119);
}

/* 2) 하단 이미지들 */
.content__activity__ul {
    padding: 20px 0;
}

.content__activity__ul > li > p {
    position: relative;
    top: -48px;
    left: 20px;
    color: var(--default-font-color);
    font-weight: bold;
}

.content__activity__ul > li > img {
    width: 100%;
    border-radius: 16px;
}

/* 콘텐츠 - section 4 (호스팅)  */
.content__hosting {
    padding-top: 20px;    
}
.content__hosting > li {
    display: inline-block;
    width: calc(33.3% - 10px);
}

.content__hosting > li >  p {
    margin-top: 5px;
    font-weight: 800;
}

.content__hosting > li > img {
    width: 100%;
    border-radius: 16px;
}