.wAuto {
    width: auto;
}

.w25--inline {
    display: inline-block;
    width: calc(25% - 10px);
}

.w45 {
    width: 45%;
}

.w55 {
    width: 55%;
}

.w50--inline {
    display: inline-block;
    width: calc(50% - 10px);
}

.w25h50--inline {
    display: inline-block;
    width: calc(25% - 10px);
    height: calc(50% - 10px);
    margin-left: 10px;
}

.w50h50--inline {
    display: inline-block;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin-left: 10px;
}