:root {
    --default-font-color: #FFF;
    --covid-searchBar-hover-color: #ddddddcc;
    --footer-font-color: #222222;    
}

a {
    text-decoration: none;
    color: var(--default-font-color);
}

ul {
    list-style: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    clear: both;
}

.bgColor--black {
    background-color: #000;
}

.margin__topBot--70px {
    margin: 70px auto;
}


/* 전체 Wrapper */
div.wrap {
    width: 1900px;
    height: 1080px;
    margin: 0 auto;
    position: relative;
    left: -2px;
}